.container{
	width:1056px;
	height:720px;
	box-sizing: border-box;
	border:24px solid #36393f;
	border-radius: 5px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background:#ebebec;
	font-family: 'Gotham Pro';
}
#payments-wrapper .buttons-wrapper .payments-button.disabled,
#payfine-wrapper .buttons-wrapper .payfine-button.disabled
{
    opacity:0.7;
    cursor: default;
}
#main-wrapper, #payfine-wrapper, #payments-wrapper, #topup-wrapper, #putback-wrapper, #withdrawal-wrapper
{
	border-top:8px solid #ee3a3d;
	width:100.8%;
	height:100.8%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background:#ebebec;
	color:#525260;
	border-radius:5px;	
	display: none;
	flex-direction: column;
	align-items: center;
}
#main-wrapper
{
	display:flex;
}
.container .logo-block
{
	position: absolute;
	top:20px;
	left:20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.logo-block .logo-img
{
	width:50px;
	height:50px;
	background:url(../img/logo.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.notification-wrapper
{
	display: none;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-51.2%,-50%);
	background:#fff;
	padding:40px 25px;
	border:2px solid #ee3a3d;
	box-shadow: 0 0 100px #ee3a3d;
}
.logo-block .logo-text
{
	margin-top:8px;
	font-size:7.26px;
	font-family: 'Gotham Pro';
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.container .back-button, .container .exit-button, .container .button
{
	position: absolute;
	width:158px;
	height:40px;
	background:#ee3a3d;
	/*box-shadow: 0px 0px 5px #ee3a3d;*/
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gotham Pro';
	font-weight: 400;
	color:#fff;
	font-size: 18px;
	cursor:pointer;
}
.container .back-button
{
	bottom:5%;
	left:5%;
	display: none;
}
.container .exit-button
{
	bottom:5%;
	right:5%;
}
.container .terminal-block
{
	position: absolute;
	bottom:2%;
	left:50%;
	transform: translate(-50%,-50%);
	font-family: 'Gotham Pro';
	font-size:12.26px;
	font-weight: bold;
}
#main-wrapper .logo-inner
{
	padding-top:112px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom:50px;
}
.logo-inner .logo-img
{
	width:77px;
	height:77px;
	background:url(../img/logo.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.logo-inner .logo-text
{
	margin-top:12px;
	font-size:10.76px;
	font-family: 'Gotham Pro';
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#main-wrapper .cash-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gotham Pro';
	font-weight: 400;
	color:#fff;
	cursor:pointer;
	font-size:18px;
	width:220px;
	height:55px;
	border-radius:5px;
	background:#ee3a3d;
	box-shadow: 0px 0px 5px #ee3a3d;
	margin-bottom:15px;
}
.container .bankaccount
{
	position: absolute;
	top:5%;
	right:5%;
	font-size:14px;
	font-family: 'Gotham Pro';
	font-weight: 900;
	z-index:99;
}
.bankaccount .currentAccount
{
	margin-left:40px;
	width:auto;
	height:auto;
	padding:5px;
	background:#ee3a3d;
	border-radius:5px;
	font-size:15px;
	color:#fff;
}
#payfine-wrapper
{
	background: #ebebec url(../img/policecar.png) no-repeat;
    background-size: 61%;
    background-position: 100% 96%;
}
#payfine-wrapper .logo-inner
{
	margin-top:38px;
}
#payfine-wrapper .logo-inner .logo-img
{
	width:70px;
	height:70px;
	background:url(../img/sheriffestar.png) no-repeat;
	background-size:cover;
}
#payfine-wrapper .title, #payments-wrapper .title, #topup-wrapper .title, #putback-wrapper .title, #withdrawal-wrapper .title
{
	font-size:23.26px;
	font-family: 'Gotham Pro';
	font-weight: 900;
	margin-top:125px;
}
#payfine-wrapper .title
{
	margin-top:50px;
}
#payfine-wrapper .text, #payments-wrapper .text
{
	margin-top:24px;
	font-size:8.59px;
	font-family: 'Gotham Pro';
	font-weight: 900;
	margin-bottom:35px;
}
#payfine-wrapper .payfine-button, #payments-wrapper .payments-button
{
	width:298px;
	height:61px;
	border-radius:5px;
	background:rgba(255,255,255,0.8) url(../img/gradient.png) no-repeat;
	background-size:cover;
	background-position: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color:#fff;
	font-family: 'Gotham Pro';
	font-weight: 900;
	margin-top:10px;
	cursor: pointer;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
}
#payments-wrapper .payments-button
{
	background:rgba(255,255,255,0.8) url(../img/gradient2.png) no-repeat;
}
#payfine-wrapper .payfine-button:first-child, #payments-wrapper .payments-button:first-child
{
	margin-top:0;
}
#payfine-wrapper .payfine-button .button-wrap, #payments-wrapper .payments-button .button-wrap
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#payfine-wrapper .payfine-button .button-wrap:first-child, #payments-wrapper .payments-button .button-wrap:first-child
{
	align-items: flex-start;
	width:60%;
}
#payfine-wrapper .payfine-button .button-wrap:last-child, #payments-wrapper .payments-button .button-wrap:last-child
{
	width:40%;
}
.payfine-button .button-title, .payments-button .button-title
{
	font-size:11.3px;
}
.payfine-button .button-note
{	
	font-size:8.48px;
}
.payfine-button .button-price, .payments-button .button-price
{
	font-size:20.03px;
}
.payfine-button .button-id, .payments-button .button-id
{
	font-size:5.64px;
}
#payments-wrapper .buttons-wrapper, #payfine-wrapper .buttons-wrapper
{
	max-height: 350px;
	padding:0 5%;
	overflow:auto;
	padding-bottom:3px;
}
#payments-wrapper .buttons-wrapper::-webkit-scrollbar, #payfine-wrapper .buttons-wrapper::-webkit-scrollbar{
    width:7px;    
}
#payments-wrapper .buttons-wrapper::-webkit-scrollbar-track, #payfine-wrapper .buttons-wrapper::-webkit-scrollbar-track{
    background: #dedede;
    border-radius: 5px;
} 
#payments-wrapper .buttons-wrapper::-webkit-scrollbar-thumb, #payfine-wrapper .buttons-wrapper::-webkit-scrollbar-thumb{
    background: #ee3a3d;
    border-radius: 5px;
}
#topup-wrapper .number, #putback-wrapper .number, #withdrawal-wrapper .number
{
	font-size:13.87px;
	font-family: 'Gotham Pro';
	font-weight: 900;
	margin-top:23px;
	margin-bottom:15px;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#topup-wrapper .input-wrapper input, #putback-wrapper .input-wrapper input, #withdrawal-wrapper .input-wrapper input
{
	width:100%;
	height:100%;
	border:2px solid #525260;
	border-radius:10px;
	padding:0 20px;
	box-sizing: border-box;
	text-align: center;
	font-size:15px;
	font-family: 'Gotham Pro';
	font-weight: 900;
}
#withdrawal-wrapper .input-wrapper, #topup-wrapper .input-wrapper, #putback-wrapper .input-wrapper
{
	position: relative;
	width:248px;
	height:53px;
	margin-top:10px;
}
#withdrawal-wrapper .input-wrapper, #putback-wrapper .input-wrapper
{
	margin-top:30px;
}
.container .button
{
	position: relative;
	margin:0 auto;
	margin-top:15px;
	width:183px;
	height:47px;
	font-size:16.55px;
	border:none;
}
.container .button:hover, .exit-button:hover, .back-button:hover, .cash-button:hover, .payments-button:hover, .payfine-button:hover
{
	transform:scale(1.05);
}
input:focus::-webkit-input-placeholder {
  color: transparent
}
 
input:focus::-moz-placeholder {
  color: transparent
}
 
input:focus:-moz-placeholder {
  color: transparent
}
 
input:focus:-ms-input-placeholder {
  color: transparent
}
@media(max-width:1920px) and (max-height:1080px), (max-width:1920px) and (max-height:1200px)
{
	.container
	{
		transform: scale(0.8) translate(-60%,-60%);
	}
}
@media(max-width:1366px) and (max-height:768px), (max-width:1280px) and (max-height:768px), (max-width:1280px) and (max-height:720px)
{
	.container
	{
		transform: scale(0.7) translate(-70%,-70%);
	}
}
@media(max-width:1024px) and (max-height:768px), (max-width:800px) and (max-height:600px)
{
	.container
	{
		transform: scale(0.6) translate(-83%,-83%);
	}
}

/* Tooltip  */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; 
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip); 
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; 
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 10px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 10px);
  transform: translate(.5em, -50%);
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

.limited::before,
.limited::after {
  animation: tooltips-horz 300ms ease-out forwards;
}