*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}
.container 
{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:20px 0;
}
.container .police-wrapper
{
    background:url(../img/documents/police-back.png) no-repeat;
}
.container .medical-wrapper
{
    background:url(../img/documents/medical-back.png) no-repeat;
}
.container .global-wrapper
{
    background:url(../img/documents/global-back.png) no-repeat;
}
.container .police-wrapper,
.container .medical-wrapper,
.container .global-wrapper
{
    box-shadow: 0 0 75px rgba(0,0,0,0.6);
    width:905px;
    height:1280px;
    background-position: center;
    background-size:cover;
}
.container .title-wrapper
{
    width:100%;
    height:203px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .title-wrapper .title
{
    font-size:24px;
}
.container .title-wrapper .big-title
{
    font-size:31px;
    font-weight:500;
}
.container .text-wrapper 
{
    width:100%;
    height:874px;
    padding:40px 5%;
    text-align: center;
    z-index: 99;
}
.container .text-wrapper .big-title, 
.container .text-wrapper input
{
    font-size:32px;
    font-weight:500;    
    margin-bottom:30px;
    padding: 0 5%;
}
.container .text-wrapper input, 
.container .text-wrapper textarea
{
    width:100%;
    background:transparent;
    border:none;
    height: auto;
    resize:none;
}
.container .text-wrapper input
{
    padding:0 3px;
    padding-bottom:5px;
    border-bottom:3px solid #CAD8FB;
}
.container .text-wrapper .text, 
.container .text-wrapper textarea
{
    font-size:20px;
    font-weight:500;      
    min-height: 698px;
    max-height: 698px;
    overflow-y: scroll;
    padding: 0 4%;
}
.container .text-wrapper textarea
{
    padding:10px;
    border-left:3px solid #CAD8FB;
    border-top:3px solid #CAD8FB;
    border-bottom:3px solid #CAD8FB;

}
.container .sign-wrapper
{
    height: 203px;
    position: relative;
}
.container .print-item.police
{
    background:url(../img/documents/police-print.png) no-repeat;
}
.container .print-item
{
    width:270px;
    height:272px;
    background-size:cover;
    position: absolute;
    bottom: 50px;
    right: 77px;
    z-index:99999;
}
.container .sign-wrapper .button
{
    position: absolute;
    bottom:38px;
    background:#DFE5F7;
    padding:5px 10px;
    font-size:16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius:5px;
    transition:0.2s;
    cursor: pointer;
}
.container .button#closeDocument
{
    position: absolute;
    top:46px;
    right:25px;
    background:#DFE5F7;
    padding:5px 10px;
    font-size:16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius:5px;
    transition:0.2s;
    cursor: pointer;
}
.container .global-wrapper .sign-wrapper .button
{    
    right:15%;
}
.container .medical-wrapper .sign-wrapper .button
{    
    right:16.5%;
}
.container .police-wrapper .sign-wrapper .button
{    
    right:13%;
}
.container .button:hover
{
    transform:scale(1.1);   
}
.container .sign-wrapper .inner-wrapper
{
    position: absolute;
    width:342px;
    height:136px;
    top: 34px;
    left: 116px;
}
.sign-item
{    
    position: absolute;
    width:156px;
    height:37px;
}
.sign-item .sign
{
    min-width:200px;
    font-size:40px;
    position: absolute;
    top:-20%;
    left:50%;
    transform:rotate(-15deg) translate(-50%,-50%);
    font-family:"BeautifulBloom-Alt";
    text-align: center;
}
.sign-item:nth-child(1)
{
    top: -1px;
    left: 0px;
}
.sign-item:nth-child(2)
{
    top:49px;
    left:0px;    
}
.sign-item:nth-child(3)
{
    top:98px;
    left:0px;    
}
.sign-item:nth-child(4)
{
    top:-1px;
    right:0px;    
}
.sign-item:nth-child(5)
{
    top:49px;
    right:0px;    
}
.sign-item:nth-child(6)
{
    top:98px;
    right:0px;    
}
.container .text-wrapper .text::-webkit-scrollbar-track,
.container .text-wrapper textarea::-webkit-scrollbar-track
{
	border: 1px solid #ccd6fa;
	background-color: #dce1f5;
}

.container .text-wrapper .text::-webkit-scrollbar,
.container .text-wrapper textarea::-webkit-scrollbar
{
	width: 10px;
	background-color: #ccd6fa;
}

.container .text-wrapper .text::-webkit-scrollbar-thumb,
.container .text-wrapper textarea::-webkit-scrollbar-thumb
{
	background-color: #ccd6fa;	
}
body::-webkit-scrollbar-track
{
	border: 1px solid transparent;
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
	background-color:transparent;	
}