*
{
    font-family: 'Montserrat';
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    /* background:url(../img/fractionCircle/game.png) no-repeat;
    background-size:cover;
    height: 100vh; */
}
.container
{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);   
    font-family: 'Montserrat';
    font-weight:900;  
}
.container .wrapper .small-circle
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:url(../img/fractionCircle/small.png) no-repeat;
    background-position: center;
    width: 515px;
    height: 515px;
    z-index: 9999;
    overflow: hidden;
    border-radius: 50%;
    /* box-shadow: 0 0 25px rgba(0,0,0,0.5); */
}
.container .wrapper .central-circle 
{
    width:132px;
    height:132px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
    box-shadow: 0 0 25px rgba(255,255,255,1);
    background:url(../img/fractionCircle/central.png) no-repeat;
    background-position: center;
    background-size:contain;
    z-index: 99999;
}
.container .wrapper .small-circle .inner
{
    width:100%;
    height:100%;
}
.container .wrapper .small-circle .inner .small-item
{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 210px;
    height: 189px;
    transform-origin: 73% 55%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    /* background: rgba(0,0,0,0.5); */
}
.container .wrapper .small-circle .inner .small-item.active:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/ys.png) no-repeat;
}  
.container .info-circle
{
    width:272px;
    height:272px;
    border-radius:50%;
    background:#4F5359;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    color:#fff;
    padding:5px 10px;
    word-break: break-word;
    z-index:999999;
    font-size:20px;
    text-align: center;
}
.container .info-circle .show-wrapper
{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
}
.container .info-circle .showItem
{
    max-width:180px;
    background:#706d6d;
    border-radius:10px;
    padding:5px;
    cursor: pointer;
    transition: 0.2s;
}
.container .info-circle .showItem:hover
{
    box-shadow: 0 0 8px #fff;
}
.container .wrapper .small-circle .inner .small-item.disabled
{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    cursor:default;
}
.container .wrapper .small-circle .inner .small-item.disabled img
{
    opacity:0.2;
}
.container .wrapper .small-circle .inner .small-item .slot
{
    color:#c7c7c7;
    display: block;
    text-align: center;
	font-size: 20px;
	text-shadow: 0 0 5px rgba(0,0,0,0.8);
	word-wrap: break-word;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width:160px;
	padding:0 10px 0 15px;
	box-sizing: border-box;
}
.container .wrapper .small-circle .inner .small-item.disabled .slot
{
    opacity:0.6;
}
.container .wrapper .small-circle .inner .small-item:nth-child(1)
{
    transform: rotate(1deg) translate(-50%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(2)
{
    transform:rotate(41deg) translate(-50%,-50%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(3)
{
    transform: rotate(82deg) translate(-51%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(4)
{
    transform: rotate(122deg) translate(-51%,-48.5%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(5)
{
    transform:rotate(162deg) translate(-51%,-48%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(6)
{
    transform:rotate(202deg) translate(-50%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(7)
{
    transform:rotate(241deg) translate(-50%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(8)
{
    transform:rotate(281deg) translate(-50%,-48%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(9)
{
    transform:rotate(321deg) translate(-49.5%,-49%);
    border-top-right-radius: 80%;
}

/* animCircle */
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(1) .slot
{
    transform:rotate(-1deg) translate(-6%,105%); 
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(2) .slot
{
    transform:rotate(-41deg) translate(-19%,-20%);
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(3) .slot
{
    transform:rotate(-81deg) translate(-5%,-59%); 
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(4) .slot
{
    transform:rotate(-122deg) translate(-9%,-11%);
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(5) .slot
{
    transform:rotate(-162deg) translate(-3%,-92%); 
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(6) .slot
{
    transform:rotate(-202deg) translate(10%,-58%);
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(7) .slot
{
    transform:rotate(-241deg) translate(9%,57%); 
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(8) .slot
{
    transform:rotate(-281deg) translate(-1%,33%);
}
.container .wrapper .small-circle#animCircle .inner .small-item:nth-child(9) .slot
{
    transform:rotate(-321deg) translate(5%,54%);
}


/* personCircle */
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(1) img
{
    transform:rotate(-1deg) translate(-25%,24%); 
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(2) img
{
    transform:rotate(-41deg) translate(-20%,-26%);
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(3) img
{
    transform: rotate(-82deg) translate(-20%,-28%); 
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(4) img
{
    transform: rotate(-122deg) translate(9%,-35%);
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(5) img
{
    transform:rotate(-162deg) translate(30%,-26%); 
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(6) img
{
    transform:rotate(-202deg) translate(27%,-5%);
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(7) img
{
    transform:rotate(-241deg) translate(17%,8%); 
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(8) img
{
    transform:rotate(-281deg) translate(5%,35%);
}
.container .wrapper .small-circle#personCircle .inner .small-item:nth-child(9) img
{
    transform:rotate(-321deg) translate(-11%,20%);
}

/* carCircle */
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(1) img
{
    transform:rotate(-1deg) translate(-23%,3%); 
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(2) img
{
    transform:rotate(-41deg) translate(-32%,-11%);
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(3) img
{
    transform:rotate(-82deg) translate(-13%,-23%); 
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(4) img
{
    transform:rotate(-122deg) translate(12%,-20%);
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(5) img
{
    transform:rotate(-162deg) translate(22%,-25%); 
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(6) img
{
    transform:rotate(-202deg) translate(27%,-5%);
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(7) img
{
    transform:rotate(-241deg) translate(17%,5%); 
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(8) img
{
    transform:rotate(-281deg) translate(1%,19%);
}
.container .wrapper .small-circle#carCircle .inner .small-item:nth-child(9) img
{
    transform:rotate(-321deg) translate(-11%,26%);
}
.container .wrapper .big-circle
{
    width: 734px;
    height: 734px;
    background:url(../img/fractionCircle/big.png) no-repeat;
    background-size:cover;
} 
/* BIG 2  */
.container .wrapper .big-circle#section2 .inner .big-item
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-51%,-50%);
    width: 367px;
    height: 734px;
    transform-origin: 75% 57%;
    overflow: hidden;
    cursor: pointer;
}
.container .wrapper .big-circle .inner .big-item .big-text
{
    position: absolute;
    left:-100%;
    color:rgb(184, 184, 184);
    font-size:20px;
    text-transform: uppercase;
    z-index: -1;
}
.container .wrapper .big-circle .inner .big-item img
{
    max-width:75px;
    height:75px;
    position: absolute;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: 9;
}
.container .wrapper .big-circle .inner .big-item:hover img
{
    opacity:0;
    transition:0.2s;
}
.container .wrapper .big-circle .inner .big-item:hover .big-text
{
    position: relative;
    left:0%;
    transition:0.3s;
}
.container .wrapper .big-circle#section2 .inner .big-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/b2.png) no-repeat;
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(1)
{
    transform: rotate(0deg) translate(-50%,-50%);
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(1) img
{
    left:17%;
}
.container .wrapper .big-circle#section2 .inner .big-item#Medical:nth-child(1) .big-text
{
    transform:rotate(-89deg) translate(-77%,-417%);
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(2)
{
    transform:rotate(180deg) translate(-0.5%,64%);
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(2) img
{
    right:64%;
}
.container .wrapper .big-circle#section2 .inner .big-item#Medical:nth-child(2) .big-text
{
    transform:rotate(-89deg) translate(-86%,-409%);
}
/* BIG 3  */
.container .wrapper .big-circle#section3 .inner .big-item
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-51%,-50%);
    width: 367px;
    height: 586px;
    transform-origin: 75% 57%;
    overflow: hidden;
    cursor: pointer;
}
.container .wrapper .big-circle#section3 .inner .big-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/b3.png) no-repeat;
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(1)
{
    transform: rotate(0deg) translate(-50.8%,-62.9%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(1) img
{ 
    top:40%;
    left:24%;
}
.container .wrapper .big-circle#section3 .inner .big-item#Police:nth-child(1) .big-text
{
    transform:rotate(-65deg) translate(-44%,90%);
}
.container .wrapper .big-circle#section3 .inner .big-item#Mechanical:nth-child(1) .big-text
{
    transform: rotate(-61deg) translate(-46%,40%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(2)
{
    transform:rotate(120deg) translate(-92.1%,36.2%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(2) img
{ 
    top: 28%;
    right: 61%;
    transform:rotate(-120deg);
}
.container .wrapper .big-circle#section3 .inner .big-item#Police:nth-child(2) .big-text
{
    transform:rotate(-58deg) translate(-35%,204%);
}
.container .wrapper .big-circle#section3 .inner .big-item#Mechanical:nth-child(2) .big-text
{
    transform:rotate(-60deg) translate(-44%,43%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(3)
{
    transform:rotate(240deg) translate(65.5%,8.9%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(3) img
{ 
    top: 29%;
    right: 61%;
    transform:rotate(-240deg);
}
.container .wrapper .big-circle#section3 .inner .big-item#Police:nth-child(3) .big-text
{
    transform:rotate(122deg) translate(62%,-88%);
}
.container .wrapper .big-circle#section3 .inner .big-item#Mechanical:nth-child(3) .big-text
{
    transform: rotate(120deg) translate(52%,-59%);
}
/* BIG 4  */
.container .wrapper .big-circle#section4 .inner .big-item
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-51%,-50%);
    width: 189px;
    height: 521px;
    transform-origin: 75% 57%;
    overflow: hidden;
    cursor: pointer;
}
.container .wrapper .big-circle#section4 .inner .big-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/b4.png) no-repeat;
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(1)
{
    transform:rotate(0deg) translate(-97%,-49.7%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(2)
{
    transform:rotate(90deg) translate(-277.1%,-1%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(3)
{
    transform:rotate(180deg) translate(-142.5%,64.5%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(4)
{
    transform:rotate(270deg) translate(37.5%,15.5%);
}
.container .wrapper .big-circle#section4 .inner .big-item#Mechanical:nth-child(1) .big-text
{
    transform:rotate(-89deg) translate(-117%,-56%);
}
.container .wrapper .big-circle#section4 .inner .big-item#Mechanical:nth-child(2) .big-text
{
    transform:rotate(270deg) translate(-120%,-62%);
}
.container .wrapper .big-circle#section4 .inner .big-item#Mechanical:nth-child(3) .big-text
{
    transform:rotate(-91deg) translate(-109%,-43%);
}
.container .wrapper .big-circle#section4 .inner .big-item#Mechanical:nth-child(4) .big-text
{
    transform: rotate(91deg) translate(133%,53%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(1) img
{ 
    top: 40%;
    right: 46%;
    transform: rotate(0deg);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(2) img
{ 
    top: 43%;
    right: 48%;
    transform: rotate(-89deg);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(3) img
{ 
    top: 43%;
    right: 48%;
    transform: rotate(-180deg);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(4) img
{ 
    top: 42%;
    right: 49%;
    transform: rotate(-269deg);
}
.col-wrapper
{
	display: none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:325px;
	height:auto;
	background: #36393f;
	border-radius:10px;
    padding:20px 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
.col-wrapper .max-numb
{
	width:100%;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
	text-overflow: ellipsis; /* Добавляем многоточие */
	text-align: center;
}
.info-wrapper .title
{
	text-align: center;
}
.col-wrapper .title, .info-wrapper .title
{
	font-size:14.32px;
	color:#fff;
	font-weight:400;
}
.col-wrapper .title .col-title
{
	font-weight:900;
}
.col-wrapper .input-wrapper
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top:15px;
}
.col-wrapper input
{
	width:205px;
	height:43px;
	background:#000;
	color:#fff;
	font-size:29.22px;
	border:none;
	/*padding:0 0 0 25%;*/
	text-align: center;
}
.col-wrapper .min, .col-wrapper .max
{
	width:55px;
	height:55px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	background:#494d53;
	color:#fff;
	font-size:13.88px;
	cursor: pointer;
}
.col-wrapper .min:hover, .col-wrapper .max:hover, .button-wrapper div:hover
{
	transform:scale(1.1);
}
.col-wrapper .button-wrapper
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.button-wrapper div
{
    width: 120px;
    height: 35px;
	border-radius:5px;
	display:flex;
	justify-content:center;
	align-items: center;
	font-size:18.82px;
	margin-top:10px;
	cursor: pointer;
}
.button-wrapper .ok-button
{
	background:#fcfd12;
	font-weight:500;
	box-shadow:0 0 5px #fcfd12;
}
.button-wrapper .ok-button.disabled
{
	opacity:0.5;
}
.button-wrapper .ok-button.disabled:hover
{
	transform:scale(1);
}
.button-wrapper #done
{
	opacity:0.8;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button-wrapper .cancel-button
{
	font-weight:500;
	background:#484c52;
	box-shadow:0 0 5px #484c52;
	color:#fff;
}



@media(max-width:1920px) and (max-height:1080px), (max-width:1920px) and (max-height:1200px), (max-width:1680px) and (max-height:1050px)
{
	.container{
		transform:translate(-50%,-50%) scale(.8);
	}
}
@media(max-width:1440px) and (max-height:1050px)
{
	.container{
		transform:translate(-50%,-50%) scale(.7);
	}
}
@media(max-width:1600px) and (max-height:900px), (max-width:1440px) and (max-height:900px)
{
	.container{
		transform:translate(-50%,-50%) scale(.6);
	}
}
@media(max-width:1366px) and (max-height:768px), (max-width:1280px) and (max-height:720px), (max-width:1280px) and (max-height:800px), (max-width:1024px) and (max-height: 768px), (max-width:800px) and (max-height: 600px)
{
	.container{
		transform:translate(-50%,-50%) scale(.5);
	}
}