*
{
    font-family: 'Montserrat';
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background:url(../img/fractionCircle/game.png) no-repeat;
    background-size:cover;
    height: 100vh;
}
.container
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);     
}
.container .wrapper .small-circle
{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:url(../img/fractionCircle/small.png) no-repeat;
    background-position: center;
    width: 515px;
    height: 515px;
    z-index: 9999;
    overflow: hidden;
    border-radius: 50%;
    /* box-shadow: 0 0 25px rgba(0,0,0,0.5); */
}
.container .wrapper .central-circle 
{
    width:132px;
    height:132px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
    box-shadow: 0 0 25px rgba(255,255,255,1);
    background:url(../img/fractionCircle/central.png) no-repeat;
    background-position: center;
    background-size:contain;
    z-index: 99999;
}
.container .wrapper .small-circle .inner
{
    width:100%;
    height:100%;
}
.container .wrapper .small-circle .inner .small-item
{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 210px;
    height: 189px;
    transform-origin: 73% 55%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    /* background: rgba(0,0,0,0.5); */
}
.container .wrapper .small-circle .inner .small-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/ys.png) no-repeat;
}
.container .wrapper .small-circle .inner .small-item:nth-child(1)
{
    transform: rotate(1deg) translate(-50%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(2)
{
    transform:rotate(41deg) translate(-50%,-50%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(3)
{
    transform: rotate(82deg) translate(-51%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(4)
{
    transform: rotate(122deg) translate(-51%,-48.5%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(5)
{
    transform:rotate(162deg) translate(-51%,-48%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(6)
{
    transform:rotate(202deg) translate(-50%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(7)
{
    transform:rotate(241deg) translate(-50%,-49%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(8)
{
    transform:rotate(281deg) translate(-50%,-48%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(9)
{
    transform:rotate(321deg) translate(-49.5%,-49%);
    border-top-right-radius: 80%;
}
.container .wrapper .small-circle .inner .small-item:nth-child(1) img
{
    transform:rotate(-1deg) translate(-25%,24%); 
}
.container .wrapper .small-circle .inner .small-item:nth-child(2) img
{
    transform:rotate(-41deg) translate(-20%,-26%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(3) img
{
    transform: rotate(-82deg) translate(-14%,-41%); 
}
.container .wrapper .small-circle .inner .small-item:nth-child(4) img
{
    transform: rotate(-122deg) translate(9%,-35%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(5) img
{
    transform:rotate(-162deg) translate(30%,-26%); 
}
.container .wrapper .small-circle .inner .small-item:nth-child(6) img
{
    transform:rotate(-202deg) translate(27%,-5%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(7) img
{
    transform:rotate(-241deg) translate(17%,8%); 
}
.container .wrapper .small-circle .inner .small-item:nth-child(8) img
{
    transform:rotate(-281deg) translate(5%,35%);
}
.container .wrapper .small-circle .inner .small-item:nth-child(9) img
{
    transform:rotate(-321deg) translate(-11%,20%);
}
.container .wrapper .big-circle
{
    width: 734px;
    height: 734px;
    background:url(../img/fractionCircle/big.png) no-repeat;
    background-size:cover;
} 
/* BIG 2  */
.container .wrapper .big-circle#section2 .inner .big-item
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-51%,-50%);
    width: 367px;
    height: 734px;
    transform-origin: 75% 57%;
    overflow: hidden;
    cursor: pointer;
}
.container .wrapper .big-circle#section2 .inner .big-item div
{
    color:#fff;
    font-size:20px;
}
.container .wrapper .big-circle#section2 .inner .big-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/b2.png) no-repeat;
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(1)
{
    transform: rotate(0deg) translate(-51%,-50%);
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(1) div
{
    transform: rotate(-90deg) translate(-73%,-21%);
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(2)
{
    transform:rotate(180deg) translate(0%,64%);
}
.container .wrapper .big-circle#section2 .inner .big-item:nth-child(2) div
{
    transform:rotate(-90deg) translate(-81%,-55%);
}
/* BIG 3  */
.container .wrapper .big-circle#section3 .inner .big-item
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-51%,-50%);
    width: 367px;
    height: 586px;
    transform-origin: 75% 57%;
    overflow: hidden;
    cursor: pointer;
}
.container .wrapper .big-circle#section3 .inner .big-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/b3.png) no-repeat;
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(1)
{
    transform: rotate(0deg) translate(-50%,-62.5%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(2)
{
    transform:rotate(126deg) translate(-84%,40.5%);
}
.container .wrapper .big-circle#section3 .inner .big-item:nth-child(3)
{
    transform:rotate(238deg) translate(65%,11%);
}
/* BIG 4  */
.container .wrapper .big-circle#section4 .inner .big-item
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-51%,-50%);
    width: 181px;
    height: 501px;
    transform-origin: 75% 57%;
    overflow: hidden;
    cursor: pointer;
}
.container .wrapper .big-circle#section4 .inner .big-item:hover
{
    background-position: center;
    background-size: cover;
    background: url(../img/fractionCircle/b4.png) no-repeat;
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(1)
{
    transform:rotate(0deg) translate(-101.5%,-49.5%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(2)
{
    transform:rotate(90deg) translate(-285%,-1.5%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(3)
{
    transform:rotate(180deg) translate(-154%,65%);
}
.container .wrapper .big-circle#section4 .inner .big-item:nth-child(4)
{
    transform:rotate(270deg) translate(31%,17.5%);
}