*
{
	font-family:"HelveticaNeueCyr";
}
.container
{
	width:294px;
	height:556px;
	background:url(../img/phone/phone-back.png) no-repeat;
	background-size: cover;
	position: absolute;
	top:80%;
	transform: translate(0,-50%);
	right:15px;
}
.main-wrapper, .settings-wrapper, .caller-wrapper, .outCaller-wrapper, .incomingCall-wrapper, .dialing-wrapper, .contacts-wrapper, .messages-wrapper, .messages-inner, .geo-wrapper
{
	position: absolute;
	top:50%;
	left:49.6%;
	transform:translate(-50%,-50%);
	width:284px;
	height:534px;
	margin:auto;	
	background-repeat:no-repeat;
	background-size:cover;
	box-sizing: border-box;
}
.main-wrapper
{
	text-shadow:1px 0 10px #000;
}
.operator
{
	position:absolute;
	top:5px;
	left:17px;
	color:#fafafa;
	font-size:11.12px;
	text-transform: uppercase;
}
.network
{
	width:14px;
	height:14px;
	background:url(../img/phone/network.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:2px;
	right:28%;
}
.wi-fi
{
	width:17px;
	height:13px;
	background:url(../img/phone/wi-fi.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:3px;
	right:18%;
}
.battery
{
	width:29px;
	height:10px;
	background:url(../img/phone/battery.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:5px;
	right:5%;
}
.time-block
{
	position:absolute;
	top:8%;
	left:5%;
}
.time-block .time
{
	font-size:42px;
	color:#fafafa;
	position:relative;
	left:1px;
}
.time .del, .time .hours, .time .minutes
{
	position:absolute;
	top:0;
}
.time .hours
{
	left:0;
}
.time .del
{
	left:44%;
}
.time .minutes
{
	right:0;
}
.time-block .date
{
	font-size:11.12px;
	color:#fafafa;
}
.date
{
	padding-top:45px;
}
.main-wrapper .settings
{
	position:absolute;
	right:10%;
	top:9%;
	width:56px;
	height:56px;
	background:url(../img/phone/settings.png) no-repeat;
	background-size:cover;
}
.main-wrapper .fast-block
{
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%,-50%);
	width:96%;
	height:70px;
	background:rgba(0,0,0,0.5);
	border-radius:10px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.balance-wrapper
{
	position: absolute;
    top:43%;
    left: 50%;
	transform: translate(-50%, 0%);
	color:#fff;
	font-size:18px;
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.5);
	padding:10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
}
.balance-wrapper .phoneBalance
{
	margin:0 2px 0 3px;
	font-size:20px;
	font-weight: 500;
	text-shadow: 0 0 5px #000;
	margin-bottom:2px;
}
.main-wrapper .fast-block div, .main-wrapper .bottom-block div, .home-but, .main-wrapper .settings
{
	cursor:pointer;
}
.fast-block .ambulance
{
	background:url(../img/phone/ambulance.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.fast-block .police
{
	background:url(../img/phone/police.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.fast-block .taxi
{
	background:url(../img/phone/taxi.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.fast-block .service
{
	background:url(../img/phone/service.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.main-wrapper .bottom-block 
{
	position:absolute;
	bottom:3%;
	left:50%;	
	width:100%;
	transform:translate(-50%,-50%);
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.bottom-block .phone
{
	background:url(../img/phone/phone.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.bottom-block .phonebook
{
	background:url(../img/phone/phonebook.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.bottom-block .sms
{
	background:url(../img/phone/sms.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.bottom-block .geo
{
	background:url(../img/phone/geo.png) no-repeat;
	background-size:cover;
	width:58px;
	height:58px;
}
.container .home-but
{
	position: absolute;
	bottom:4%;
	left:4%;
	border:1px solid #fafafa;
	border-radius: 50%;
}	
.container .home-but:hover, .settings-wrapper i:hover, .cancel:hover, .apply-but:hover
{
	opacity:0.8;
}
.container .home-but .home
{
	width:18px;
	height:18px;
	margin:2px;
	background:#fafafa;
	box-shadow: 0 0 5px #000;
	border-radius: 50%;
}
.settings-wrapper .apply-but
{
	position:absolute;
	bottom:1%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#000;
	background:#fafafa;
	width:136px;
	height:40px;
	border-radius: 15px;	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size:13px;
	cursor:pointer;
}
.settings-wrapper, .outCaller-wrapper, .caller-wrapper, .incomingCall-wrapper, .dialing-wrapper, .contacts-wrapper, .messages-wrapper, .messages-inner, .geo-wrapper
{
	display:none;
}
.settings-wrapper i
{
	cursor: pointer;
	color:rgba(255,255,255,0.7);
	border:2px solid rgba(255,255,255,0.7);
	border-radius: 50%;
	width:32px;
	height:32px;
	display:flex;
	justify-content:center;
	align-items: center;
	box-sizing: border-box;
	font-size:19px;
}
.settings-wrapper .fa-chevron-left
{
	position:absolute;	
	padding-right:3px;
	top:40%;
	left:5px;
}
.settings-wrapper .fa-chevron-right
{
	position:absolute;	
	padding-left:3px;
	top:40%;
	right:5px;
}
.background
{
	display:none;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
}
.background.active
{
	display:block;
}
.caller-wrapper, .incomingCall-wrapper, .outCaller-wrapper, .dialing-wrapper, .contacts-wrapper, .messages-wrapper, .messages-inner, .geo-wrapper
{
	background:#ebebeb;
	border-radius: 15px;
}
.outCaller-wrapper .wrapper, .caller-wrapper .wrapper, .incomingCall-wrapper .wrapper
{
	position:absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width:100%;
}
.outCaller-wrapper .caller-ico,.caller-wrapper .caller-ico, .incomingCall-wrapper .caller-ico
{	
	width:77px;
	height:77px;
	background:url(../img/phone/caller/person.png) no-repeat;
	background-size:cover;
}
.outCaller-wrapper .title,.caller-wrapper .title, .incomingCall-wrapper .title
{
	margin-top:10px;
	font-size:15.65px;
	font-weight: bold;
	margin-bottom: 10px;
}
.outCaller-wrapper .number,.caller-wrapper .number, .incomingCall-wrapper .number
{
	font-size:24.92px;
	font-weight: bold;
	width:100%;
	text-align: center;
}
.caller-wrapper .timer
{
	margin-top:10px;
	position:relative;
	font-size:22.97px;
	width:58px;
}
.caller-wrapper .timer .minutes
{
	position: absolute;
	top:0;
	left:0;
}
.caller-wrapper .timer .del
{
	position: absolute;
	top:0;
	left:44.7%;
}
.caller-wrapper .timer .seconds
{
	position: absolute;
	top:0;
	right:0;
}
.outCaller-wrapper .cancel, .caller-wrapper .cancel, .incomingCall-wrapper .cancel
{
	width:54px;
	height:54px;
	background: url(../img/phone/caller/cancel.png) no-repeat;
	background-size:cover;
	margin-top:50px;
	cursor:pointer;
}
.caller-wrapper .allow, .incomingCall-wrapper .allow, .dialing-wrapper .call
{
	width:54px;
	height:54px;
	background: url(../img/phone/caller/allow.png) no-repeat;
	background-size:cover;
	margin-top:50px;
	cursor:pointer;
}
.dialing-wrapper .call
{
	margin:0;
}
.incomingCall-wrapper .but-wrap
{
	margin-top:-10px;
	width:150px;
	height:60px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.dialing-wrapper .wrapper
{
	margin-top:20px;
}
.dialing-wrapper .this-block
{
	width:229px;
	height:47px;
	border-radius: 7px;
	font-size:29px;
	color:#2f2f2f;
	background:#fff;
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-bottom:5px;
}
.dialing-wrapper
{
	padding-top:20px;
}
.dialing-wrapper .history-wrapper
{
	width:100%;
	min-height:117px;
	max-height:117px;
	height:auto;
	overflow-y:scroll;
	box-sizing: border-box;
}
.history-wrapper .history-block
{
	width:100%;
	height:22px;
	background:#ffffff;
	margin-top:5px;
	font-size:18px;
	display: flex;
	justify-content: space-between;
	padding:0 15px;
	align-items: center;
	box-sizing: border-box;
}
.history-wrapper .history-block.allow{
	border-left:8px solid #00ff96;
}
.history-wrapper .history-block.cancel{
	border-left:8px solid #ed1c24;
}
.history-wrapper .history-block:first-child
{
	margin:0;
}
.dialing-wrapper .number-wrap
{
	width:82%;
	display:flex;
	justify-content: space-around;
	align-items: flex-start;
	margin:0 auto;
	padding-top:15px;
}
.number-wrap .number, .number-wrap .cross
{
	width:54px;
	height:54px;
	background:#cccccc;
	color:#2f2f2f;
	font-size:27px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
}
.number-wrap .cross
{
	font-weight:bold;
}
.history-wrapper::-webkit-scrollbar{
    width: 6px;
}
.history-wrapper::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 4px;  
} 
.history-wrapper::-webkit-scrollbar-thumb {
    background: #00ff96;
    border-radius: 4px;  
}
.contacts-wrapper, .geo-wrapper
{
	padding-top:20px;
	background: #f7f7f7;
	overflow:hidden;
}
.contacts-wrapper .current-wrapper, .geo-wrapper .current-wrapper
{
	width:265px;
	height:99px;
	background:#ffffff;
	border-radius:5px;
	margin:0 10px;
}
.geo-wrapper .current-wrapper
{
	height:35px;
}
.contacts-wrapper .current-wrapper .nothing-used, .contacts-wrapper .current-wrapper .contact-added, .geo-wrapper .current-wrapper .geo-added, .geo-wrapper .current-wrapper .nothing-used
{
	width:100%;
	height:100%;
	justify-content: center;
	align-items: center;
	font-size:13.17px;
	font-weight:500;
	display: none;
}
.contacts-wrapper .wrapper, .geo-wrapper .wrapper
{
	width:100%;
	height: auto;
	max-height:326px;
	margin-top:10px;
	overflow-y:auto; 
	overflow-x:hidden; 
}
.geo-wrapper .wrapper
{
	max-height:420px;
}
.contacts-wrapper .wrapper .number, .geo-wrapper .wrapper .number
{
	margin-top:5px;
	width:100%;
	height:50px;
	border:1px solid #dddddd;
	background:#ffffff;
	display: flex;
	justify-content: space-between;
	padding:0 15px;
	align-items: center;
	font-weight:500;
	font-size:15.25px;
	cursor:pointer;
	box-sizing: border-box;
}
.contacts-wrapper .wrapper .number:first-child, .geo-wrapper .wrapper .number:first-child
{
	margin-top:0;
}
.geo-wrapper .wrapper::-webkit-scrollbar, .contacts-wrapper .wrapper::-webkit-scrollbar, .messages-wrapper .wrapper::-webkit-scrollbar, .messages-inner .wrapper::-webkit-scrollbar{
    width: 6px;
}
.geo-wrapper .wrapper::-webkit-scrollbar-track, .contacts-wrapper .wrapper::-webkit-scrollbar-track, .messages-wrapper .wrapper::-webkit-scrollbar-track, .messages-inner .wrapper::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 4px;  
} 
.geo-wrapper .wrapper::-webkit-scrollbar-thumb, .contacts-wrapper .wrapper::-webkit-scrollbar-thumb, .messages-wrapper .wrapper::-webkit-scrollbar-thumb, .messages-inner .wrapper::-webkit-scrollbar-thumb {
    background: #00ff96;
    border-radius: 4px;  
}
.messages-wrapper .wrapper::-webkit-scrollbar-thumb, .messages-inner .wrapper::-webkit-scrollbar-thumb
{
	background:#ffff00;
}
.contacts-wrapper .add-contact {
	width:55px;
	height:55px;
	border-radius: 50%;
	background: #00ff96;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;
	font-size:52px;
	font-weight: 400;
	position: absolute;
	bottom:15px;
	right:15px;
	box-sizing: border-box;
    padding: 0 0 9px 0;
	cursor: pointer;
}
.contacts-wrapper .number.active, .geo-wrapper .number.active
{
	background: rgba(78,224,156,1);
	background: linear-gradient(to right, rgba(78,224,156,1) 0%, rgba(246,246,246,0.9) 21%, rgba(246,246,246,0.51) 100%);
}
.contacts-wrapper .number.active .title-status, .geo-wrapper .number.active .title-status
{
	color: #00ff96;
}
.contacts-wrapper .current-wrapper .active, .geo-wrapper .current-wrapper .active
{
	display:flex;
}
.geo-wrapper .current-wrapper .selected-contact, .contacts-wrapper .current-wrapper .create-contact, .contacts-wrapper .current-wrapper .selected-contact, .contacts-wrapper .current-wrapper .change-contact
{
	display:none;
	flex-direction: column;
	padding:5px 25px;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	color:#474747;
}
.contacts-wrapper .current-wrapper .create-contact input, .contacts-wrapper .current-wrapper .change-contact input
{
	width:100px;
	height:20px;
	border:none;
	border-bottom:2px solid #000;
	margin-top:10px;
}
.contacts-wrapper .current-wrapper .create-contact input[type=number]::-webkit-inner-spin-button, .contacts-wrapper .current-wrapper .change-contact input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.contacts-wrapper .current-wrapper .create-contact input::-webkit-input-placeholder,.contacts-wrapper .current-wrapper .create-contact input, .contacts-wrapper .current-wrapper .change-contact input::-webkit-input-placeholder,.contacts-wrapper .current-wrapper .change-contact input { 
	color: #000;
	font-weight:500;
	font-size:13.61px;
}
.contacts-wrapper .current-wrapper .create-contact .save-contact, .contacts-wrapper .current-wrapper .change-contact .save-contact, .geo-wrapper .current-wrapper .selected-contact .send-geo
{
	width:87px;
	height:26px;
	border-radius:5px;
	background:#00ff96;
	color:#fff;
	font-size:11.72px;
	font-weight:500;
	cursor: pointer;
	position: absolute;
	bottom:10px;
	right:20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacts-wrapper .current-wrapper .create-contact .delete, .contacts-wrapper .current-wrapper .change-contact .delete, .contacts-wrapper .current-wrapper .selected-contact .delete, .geo-wrapper .current-wrapper .delete
{
	position: absolute;
	top:-5px;
	left:-2px;
	width:18px;
	height:18px;
	border-radius:5px;
	background:#ed1c24;
	font-size:19px;
	color:#fff;
	cursor: pointer;
}
.contacts-wrapper .current-wrapper .create-contact .delete span, .contacts-wrapper .current-wrapper .selected-contact .delete span, .contacts-wrapper .current-wrapper .change-contact .delete span, .geo-wrapper .current-wrapper .delete span
{
	position: absolute;
	top:40%;
	left:50%;
	transform: translate(-50%,-50%);
}
.contacts-wrapper .current-wrapper .selected-contact, .geo-wrapper .current-wrapper .selected-contact
{
	padding:20px 0 0 20px;
	font-weight:500;
	font-size:15px;
}
.contacts-wrapper .current-wrapper .selected-contact .number-wrapper
{
	display: flex;
	flex-direction: column;
	margin-top:12px;
}
.contacts-wrapper .current-wrapper .selected-contact .number-wrapper .number
{
	font-size:15px;
}
.contacts-wrapper .current-wrapper .selected-contact .number-wrapper .title
{
	font-size:10px;
}
.contacts-wrapper .current-wrapper .selected-contact .change-but
{
	width:22px;
	height:22px;
	background:url(../img/phone/contacts/edit.png) no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top:10px;
    right: 20px;
    cursor:pointer;
}
.contacts-wrapper .current-wrapper .selected-contact .trash-but
{
	width:22px;
	height:22px;
	background:url(../img/phone/contacts/trash.svg) no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	bottom:20px;
    right: 20px;
    cursor:pointer;
}
.contacts-wrapper .current-wrapper .selected-contact .confirm-block
{
	display:none;
	width: 90%;
    border: 1px solid #000;
    background: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	padding:20px 5px;
}
.contacts-wrapper .current-wrapper .selected-contact .confirm-block .title
{
	text-align: center;
	font-size: 16px;
}
.contacts-wrapper .current-wrapper .selected-contact .confirm-block .but-wrapper
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top:5px;
}
.contacts-wrapper .current-wrapper .selected-contact .confirm-block .but-wrapper > div
{
	padding:3px 7px;
	font-size:16px;
	border-radius:5px;
	cursor: pointer;
}
.contacts-wrapper .current-wrapper .selected-contact .confirm-block .but-wrapper .cancelTrash
{
	background:#ed1c24;
	color:#fff;
}
.contacts-wrapper .current-wrapper .selected-contact .confirm-block .but-wrapper .confirmTrash
{
	background:#00ff96;
	color:#fff;
}
.contacts-wrapper .caller
{
	width:35px;
	height:35px;
	background:url(../img/phone/contacts/caller.png) no-repeat;
	background-size: cover;
	background-position: center;
    cursor:pointer;
}
.geo-wrapper .geo
{
	width:35px;
	height:35px;
	background:url(../img/phone/contacts/geo.png) no-repeat;
	background-size: cover;
	background-position: center;
    cursor:pointer;
}
.contacts-wrapper .current-wrapper .create-contact .inform-block, .contacts-wrapper .current-wrapper .change-contact .inform-block
{
	width:50%;
	height:50%;
	background:#f7f7f7;
	font-weight:500;
	font-size:14px;
	border-radius:5px;
	color:#000;
	position: absolute;
	top:50%;
	left:50%;
	padding:0 10px;
	transform: translate(-50%,-50%);
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.messages-wrapper, .messages-inner
{
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.messages-wrapper .title, .messages-inner .title-wrap
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width:100%;
	height:30px; 
	min-height:30px;
	background:#fffc9d;
	font-weight:500;
	font-size:15.19px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left:20px;
	box-sizing: border-box;
}
.messages-inner .title-wrap
{
	padding:0 30px 0 10px;
	justify-content: space-between;
}
.messages-inner .title-wrap .back-but
{
	width:49px;
	height:22px;
	font-size:12.12px;
	border-radius:5px;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.messages-wrapper .wrapper
{
	width:100%;
	max-height: 76%;
	margin-top:20px;	
	font-weight:500;
	overflow-x:auto;
}
.messages-wrapper .wrapper .message-border
{
	width:100%;
	height:28px;
	background:#fffc9d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 5%;
	box-sizing: border-box;	
}
.messages-wrapper .wrapper .message-item
{
	margin-top:12px;
	cursor: pointer;
}
.messages-wrapper .wrapper .message-item:first-child
{
	margin:0;
}
.messages-wrapper .wrapper .message-border .number
{
	font-size:13.96px;
}
.messages-wrapper .wrapper .message-border .time
{
	font-size:11.51px;
}
.messages-wrapper .wrapper .message-item .message-text
{
	width:100%;
	height:43px;
	background:#ffffff;
	box-sizing: border-box;
	padding:0 24px;	
	padding-top:7px;
}
.messages-wrapper .wrapper .message-item .message-text .text, .messages-wrapper .wrapper .message-item .message-text .text-3
{
	font-size:11.12px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}
.messages-inner .bottom-window
{
	padding:14px 0;
	box-sizing: border-box;
	background:#fff;
	width:100%;
	height:106px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
.messages-inner .bottom-window input
{
	width:235px;
	height:32px;
	border-radius:20px;
	border:1px solid #000;
	padding:0 34px 0 15px;
	box-sizing: border-box;
	position: relative;
}
.messages-inner .bottom-window .sender
{
	width:23px;
	height:23px;
	background:url(../img/phone/sms/sender.png) no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
    top: 19px;
    right: 34px;
    cursor: pointer;
}
.messages-inner .bottom-window input::-webkit-input-placeholder, .messages-inner .bottom-window input { 
	color: #000;
	font-weight:500;
	font-size:13.12px;
}
.messages-inner .bottom-window .smiles-wrap
{
	margin-top:7px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:80%;
	height:auto;
}
.messages-inner .bottom-window .smile
{
	width:31px;
	height:31px;
	cursor: pointer;
}
.messages-inner .bottom-window .smile:hover
{
	transform: scale(1.1);
}
.messages-inner .bottom-window #s1
{
	background:url(../img/phone/sms/smile/s1.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.messages-inner .bottom-window #s2
{
	background:url(../img/phone/sms/smile/s2.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.messages-inner .bottom-window #s3
{
	background:url(../img/phone/sms/smile/s3.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.messages-inner .bottom-window #s4
{
	background:url(../img/phone/sms/smile/s4.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.messages-inner .bottom-window #s5
{
	background:url(../img/phone/sms/smile/s5.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.messages-inner .bottom-window .smiles-wrap i
{
	font-size: 20px;
	padding-left:2px;
	cursor: pointer;
}
.messages-inner .bottom-window .smiles-wrap i:hover
{
	font-size:21px;
}
.messages-inner .wrapper #outcoming .message, .messages-inner .wrapper #incoming .message
{
	padding:5px 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 55%;	
	min-width: 100px;	
	border-radius:20px;
	min-height:27px;
	height: auto;
	display: flex;
	align-items: center;
	color: #000;
	font-weight:500;
	font-size:12.92px;
	position: relative;
	word-break: break-all;
}
.messages-inner .wrapper #outcoming, .messages-inner .wrapper #incoming
{
	box-sizing: border-box;	
	margin-bottom:25px;
}
.messages-inner .wrapper .smile
{
	min-width:92px!important;
	max-width:92px!important;
	width:92px!important;
	height:92px!important;
	min-height:92px!important;
	max-height:92px!important;
	padding:0!important;
	color:transparent!important;
	background-color:transparent!important;
	background-position: center!important;
	background-size: contain!important;
	background-repeat: no-repeat!important;
}
.messages-inner .wrapper .message-wrap:last-child
{
	margin:0!important;
}
.messages-inner .wrapper
{
	width:100%;
	max-height:400px;
	padding:40px 5px;
	box-sizing: border-box;
	overflow:auto;
}
.messages-inner .wrapper #outcoming .message
{
	background: #fff;
	justify-content: flex-start;
}
.messages-inner .wrapper #outcoming
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
	margin-right:auto;
}
.messages-inner .wrapper #outcoming .time
{
	margin-left:10px;
	font-size:11.12px;
}
.messages-inner .wrapper .time
{
	color: #000;
	font-weight:500;
}
.messages-inner .wrapper #incoming .message
{
	background: #fffc9d;
	justify-content: flex-end;
}
.messages-inner .wrapper #incoming .time
{
	margin-right:10px;
	font-size:11.12px;
}
.messages-inner .wrapper #incoming
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;	
	margin-left:auto;
}
.messages-inner .message-wrap
{
	position: relative;
}
.messages-inner .wrapper .smile .time
{
	top:45px!important;
}
.messages-inner .big-smiles-wrap
{
	display: none;
	justify-content:space-around;
	align-items: center;
	position: absolute;
	top:0;
	left:0;
    background: #fffc9d;
    width:100%;
    height:100%;
    flex-wrap: wrap;
    padding:0 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.messages-inner .big-smiles-wrap .smile
{
	margin:0 2px;
}
.messages-inner .big-smiles-wrap .close
{
	display: flex;
	justify-content: center;
	align-items: center;
	background:red;
	color:#fff;
	width:25px;
	height:25px;
	border-radius:50%;
	font-weight:500;
	font-size:20px;
	position: absolute;
	top:-30px;
	right: 5px;
	cursor: pointer;
}
@media (max-width:3840px) and (max-height:2160px)
{
	.container
	{
		top:86.5%;
	}
}
@media (max-width:3440px) and (max-height:1440px)
{
	.container
	{
		top:79.5%;
	}
}
@media (max-width:2560px) and (max-height:1600px)
{
	.container
	{
		top:81.5%;
	}
}
@media (max-width:1920px) and (max-height:1200px), (max-width:1920px) and (max-height:1080px)
{
	.container
	{
		top:80%;
		transform:scale(0.7) translate(0,-70%);
		right:-35px;
	}
}
@media (max-width:1600px) and (max-height:1050px), (max-width:1440px) and (max-height:1050px)
{
	.container
	{
		top:80%;
	}
}
@media (max-width:1600px) and (max-height:900px), (max-width:1440px) and (max-height:900px)
{
	.container
	{
		transform:scale(0.65) translate(0,-75%);
		top:78%;
		right:-40px;
	}
}
@media (max-width:1280px) and (max-height:800px), (max-width:1024px) and (max-height:768px), (max-width:800px) and (max-height:600px),(max-width:1366px) and (max-height:768px), (max-width:1280px) and (max-height:768px), (max-width:1280px) and (max-height:720px)
{
	.container
	{
		top:77%;
		transform:scale(0.6) translate(0,-85%);
		right:-50px;
	}
}
@media (max-width:1280px) and (max-height:720px)
{
	.container
	{
		top:76%;
	}	
}
/*@media (max-width:1600px) and (max-height:900px), (max-width:1680px) and (max-height:1050px)
{
	.container
	{
		transform:scale(0.9);
		bottom:-15px;
		right:-5px;
	}
}
@media (max-width:1440px) and (max-height:900px), (max-width:1440px) and (max-height:1050px)
{
	.container
	{
		transform:scale(0.8);
		bottom:-40px;
		right:-15px;
	}
}
@media (max-width:1366px) and (max-height:768px), (max-width:1280px) and (max-height:768px), (max-width:1280px) and (max-height:720px)
{
	.container
	{
		transform:scale(0.7);
		bottom:-75px;
		right:-35px;
	}
}*/