body
{
	margin: 0;
	font-family: "Montserrat";
	user-select: none;
}
.container {
	width:100vw;
	height:100vh;
	background: url('../images/auth/bg.png') no-repeat;
	background-size: cover;
}
.disabled
{
	opacity:0.7;
}
.form-input {
	padding-left: 50px;
	margin: 0 auto;
	margin-top: 35px;
	display: block;
	width: 309px;
	height: 59px;
	border-radius: 5px;
	border: 1px solid #393939;
	background-color: #ffffff;
	opacity: 0.95;
	color: #050223;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	outline: none;
	transition: 90ms;
}
.form-input__wrap {
	position: relative;
	width: 309px;
	height: 59px;
	left: 50%;
	margin-left: -180px;
}
.form-input:focus {
	border: 1px solid #f4e331;
}
.one {
	background: #ffffff url(../images/auth/login.png) no-repeat 5% 50%;
}
.two {
	background: #ffffff url(../images/auth/pass.png) no-repeat 5% 50%;
}
.three {
	background: #ffffff url(../images/auth/mail.png) no-repeat 5% 50%;
}
.form-btn {
	display: block;
	margin: 20px auto;
	border-radius: 5px;
	width: 291px;
	height: 57px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #314360;
	font-family: "Gotham Pro";
	font-size: 13px;
	font-weight: 400;
	box-shadow: 0 0 18px rgba(251, 228, 1, 0.37);
	background-color: #fbe401;
	transition: 0.6s;
}
.form-btn:hover {
	transform: scale(1.1);
}
.form-more {
	text-align: center;
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}
span {
	text-decoration: underline;
	cursor: pointer;
}
.logo-wrap
{
	width: 340px;
    height: 85px;
	margin:0 auto;
}
.logo-wrap img
{
	width:100%;
	height:100%;
}
.rage {
	width:155px;
	height: 55px;
	position: absolute;
	left: 5%;
	bottom:3%;
}
.rage img
{
	width:100%;
	height:100%;
}
.social {
	position: absolute;
	right: 5%;
	bottom:3%;
}
.social-vk, .social-disc {
	color: #fefefe;
	font-family: "Gotham Pro";
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.social-vk:hover, .social-disc:hover
{
	opacity:0.95;
}
.social-vk:hover .vk-wrap, .social-disc:hover .discord-wrap
{
	transform:scale(1.2);
}
.social .copy-info
{
	display: none;
	position: absolute;
	right:-27px;
}
.discord-wrap, .vk-wrap {
	width: 45px;	
	transition:0.3s;
}
.fa-discord, .fa-vk {
	font-size: 36px;
	color: #fbe401;
}
.footer-text {
	text-align: center;
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 16px;
	position: absolute;
	font-weight: 300;
	right: 45%;
	top: 97%;
}
.alert {
	padding:10px;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%,-50%);
	background-color: #36393f;
	border-radius: 10px;
	width: auto;
	min-width:300px;
	max-width:500px;
	min-height:50px;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 12px;
	font-weight: 300;
}
.popup-wrap {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.popup-wrap#licence .text-wrapper
{
	background:#fff;
	width:800px;
	height:500px;
	padding:10px;
	overflow-y: scroll;
	max-height: 500;
}
.popup-wrap#licence .input-wrapper input
{
	width:17px;
	height:17px;
	margin:10px;
}
.popup-wrap#licence .text-wrapper::-webkit-scrollbar {
    width: 7px;
}
.popup-wrap#licence .text-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
} 
.popup-wrap#licence .text-wrapper::-webkit-scrollbar-thumb {
    background-color:#ffe100;
}
.popup-wrap#licence .input-wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;
	margin-top:20px;
}
.popup-wrap#licence .buttons-wrap
{
	display: flex;
}
.popup-wrap#licence .buttons-wrap .form-btn
{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .alert-timeout {
	height: 4px;
	width: 500px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
} */
.alert-message {
	width: 90%;
	box-sizing: border-box;
	margin-left: 10px;
	word-wrap: break-word;
	padding:0 10px;
}
.fa-info-circle {
	font-size: 40px;
	text-shadow: 0 0 5px rgba(251, 228, 1, 0.43);
	color: #fbe401;
}
@keyframes move {
	0%   {left: -10%;} 
	15% {left: 5%;} 
	30% {left: 5%;} 
	40% {left: 7%;} 
	50% {left: 5%;} 
	75%  {left: 5%} 
	85%  {left: 6%} 
	90% {left: 3%;} 
}
label {
	color: #050223;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	pointer-events: none;
    left: 50px;
    top: 22px;
	transition: 0.4s ease all; 
	-moz-transition: 0.4s ease all; 
	-webkit-transition: 0.4s ease all;
}
.g-recaptcha
{
	margin-top:20px;
	padding:0 20px;
}
input:focus ~ label, input:valid ~ label {
	left: 5px;
	top: -20px;
	font-size: 14px;
	text-shadow: 0 0 5px rgba(251, 228, 1, 0.43);
	color: #fbe401;
}