* {
	font-family: "GothamPro";
	padding:0;
	margin:0;
	color:#fff;
}
.container
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:250px;
	border-radius:20px;
	background: #36393f;
	padding:0 20px 8px 20px;
	box-sizing: border-box;
}
.container .title-block	
{
	height:34px;
	background:#2a2c31;
	width:96%;
	margin:0 auto;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;	
	font-weight: bold;
}
.container .title-block div	
{
	font-size:17.47px;
	margin-right:5px;
}
.container .title-block span
{
	font-size:14px;
	margin-top:2px;
}
.container .button#Close
{
	position: absolute;
	top:-14px;
	right:25px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #2a2c31;
	padding:2px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	color:#fff;
	font-size:10px;
	cursor: pointer;
}
.container .button#Close:hover
{
	transform: scale(1.05);
	right:26px;
}
.container .wrapper .button
{
	width:122px;
	height:37px;
	background: #ffff00;
	box-shadow: 0 0 5px #fbe401;
	color:#435462;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:15.34px;
	border-radius: 3px;
	cursor: pointer;
    font-weight:500;
    margin:10px auto 5px auto;
}
.container .wrapper .button.disabled
{
    opacity:0.6;
}
.slick::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
.slick::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

.slick::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #f4e331;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(244, 227, 49, 0.52);
    -webkit-appearance: none;
}

.slick::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}
.rangeslider
{
	margin:38px 0;
}
.rangeslider__fill
{   
	background:#ffff00 url(../img/azs-line-back.png);
	background-position:center;
}
.rangeslider__handle
{
	background: #ffff00;
}
.container .resource-item 
{
    padding:20px 0 15px 0;
    width:100%;
    position: relative;     
}
.container .resource-item .counters-list
{
    width:100%;
    position: absolute;
    color:#fff;
    display: flex;
    justify-content: space-between;
}
.container .counters-list .current-count,
.container .counters-list .min,
.container .counters-list .max
{
    font-weight:bold;
    width: fit-content;
    padding: 3px 4px;
    background: #484c52;
    color: #ffff00;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: inset 0 0 10px rgba(244, 227, 49, 0.3);
}
.container .resource-item .counters-list .current-count
{        
    /* margin: 10px 20px 0 auto; */
    position: absolute;
    bottom:-65px;
    right:0px;
}
.container .resource-item .title
{
    text-align: center;
    padding:7px 0;
    font-size:20px;
}
.container .progress-bar
{
    width:90%;
    height:15px;
    margin:10px 0 5px 0;
    background:#fff;
    border-radius:5px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 999;
    color:#ffff00;
    display: none;
}
.container .progress-bar .title
{
    margin-top:-45px;
    color:#ffff00;
    font-size:20px;
    text-align: center;
}
.container .progress-bar .inside-block
{
    width:100%;
    height:100%;
    display: flex;
    z-index:9999;
    position: absolute;
    top:60%;
    left:51.5%;
    transform: translate(-50%,-50%);
}
.container .progress-bar .inside-block .block
{
    width:9px;
    height:12px;
    border-radius: 2px;
    background:#ffff00;
    margin: 0 1px;
    display: none;
}
.container .mask
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    border-radius: 20px;
    display: none;
}
.container .button#Done
{
    display: none;
}