*
{
    padding:0;
    margin:0;
    box-sizing: border-box;    
	font-family:"DS-Digital";
}
@font-face {
	font-family:"DS-Digital";
	src: url("../fonts/ds-digital.ttf");
	font-weight: normal;
	font-style: normal;
}
.container
{
    width:159px;
    height:345px;
    position: absolute;
    bottom:10px;
    right:0;
    background:url(../img/speedmeter/back1.png) no-repeat;
    background-position: center;
    background-size:cover;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.wrapper
{
   width:100%;
   height:100%;
}
.wrapper .inner-wrapper
{
    position: absolute;
    top:50%;
    right:-19%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 64px;
    max-width: 64px;
}
.wrapper .inner-wrapper > div
{
    margin:5px 0;
}

.wrapper .inner-wrapper .engine
{
    margin-left:5px;
}
.wrapper .inner-wrapper .speed-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ecdf1f;  
    margin-right: 10px;
}
.wrapper .inner-wrapper .speed-wrapper .speed
{
    font-size:52px;
}
.wrapper .inner-wrapper .speed-wrapper .per
{
    margin-top:-10px;
    font-size:13px;
}
.wrapper .inner-wrapper .speed-scale
{
    position: absolute;
    bottom: -65px;
    right: -146px;
    transform: rotate(0deg);
    transform-origin: 50% 49.2%;
}
/*rotate 450px + translate(0,2px)*/
.wrapper .inner-wrapper .speed-scale img
{
    width:286px;
}
.wrapper .inner-wrapper .fuel-scale
{
    position: absolute;
    bottom: -33.5px;
    right: -114px;
    transform: rotate(0deg);
    transform-origin: 50% 49.2%;
}
.wrapper .inner-wrapper .fuel-scale img
{
    width:222px;
}
.wrapper .inner-wrapper .angle-wrapper
{
    position: absolute;
    text-align: center;
    color:#fff;
    font-size:19px;
    width:100%;
    height:100%;
}
.wrapper .inner-wrapper .angle-wrapper .speed-item
{
    position: absolute;
}
.wrapper .inner-wrapper .angle-wrapper .sp1
{
    bottom:-38px;
    right:8px;
}
.wrapper .inner-wrapper .angle-wrapper .sp1
{
    bottom:-38px;
    right:8px;
}
.wrapper .inner-wrapper .angle-wrapper .sp2
{
    bottom:-30px;
    right:40px;
}
.wrapper .inner-wrapper .angle-wrapper .sp3
{
    bottom:-7px;
    right:75px;
}
.wrapper .inner-wrapper .angle-wrapper .sp4
{
    bottom:26px;
    left:-51px;
}
.wrapper .inner-wrapper .angle-wrapper .sp5
{
    bottom:65px;
    left:-60px;
}
.wrapper .inner-wrapper .angle-wrapper .sp6
{
    top:20px;
    left:-60px;
}
.wrapper .inner-wrapper .angle-wrapper .sp7
{
    top:-15px;
    left:-46px;
}
.wrapper .inner-wrapper .angle-wrapper .sp8
{
    top:-39px;
    right:66px;
}
.wrapper .inner-wrapper .angle-wrapper .sp9
{
    top:-56px;
    right:38px;
}
.wrapper .inner-wrapper .angle-wrapper .sp10
{
    top:-65px;
    right:5px;
}
.wrapper .inner-wrapper .fuel-wrapper
{
    width:100%;
    height:100%;
    position: absolute;
}
.wrapper .inner-wrapper .fuel-wrapper .fuel-full
{
    position: absolute;
    top:-27px;
    right:0;
    color:red;
}
.wrapper .inner-wrapper .fuel-wrapper .fuel-empty
{
    position: absolute;
    bottom:-5px;
    right:0;
    color:red;
}
.wrapper .inner-wrapper .fuel-wrapper .fuel-half
{
    position: absolute;
    top:27%;
    left:-20px;
    color:#fff;
    text-align: center;
}
.wrapper .inner-wrapper .fuel-wrapper .fuel-half .case
{
    margin:-5px 0;
}
/* @media (max-width:2560px) and (max-height:1600px), (max-width:2560px) and (max-height:1440px)
{
	.container
	{
	    transform: scale(0.7);
	    bottom: -20px;
    	right: -30px;
	}
} */
@media (max-width:1600px) and (max-height:1200px), (max-width:1920px) and (max-height:1080px), (max-width:1920px) and (max-height:1200px)
{
	.container
	{
	    transform: scale(0.9);
        bottom: -15px;
        right: -8px;    
	}
}
@media (max-width:1440px) and (max-height:900px) , (max-width:1440px) and (max-height:1050px) , (max-width:1680px) and (max-height:1050px),(max-width:1600px) and (max-height:900px)
{
	.container
	{
        transform: scale(0.8);
        bottom: -25px;
        right: -16px;
	}
}
@media (max-width:1366px) and (max-height: 768px)
{
	.container
	{
	    transform: scale(0.7);
        bottom: -40px;
    	right: -24px;
	}
}
@media (max-width:1280px) and (max-height: 800px), (max-width:1280px) and (max-height: 720px)
{
	.container
	{
        transform: scale(0.6);
        bottom: -55px;
        right: -32px;
	}
}
@media (max-width:1024px) and (max-height: 768px), (max-width:800px) and (max-height: 600px)
{
	.container
	{
        transform: scale(0.5);
        bottom: -72px;
        right: -40px;
	}
}