*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"HelveticaNeueCyr";
}
.container
{
    width:996px;
    height:585px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:url(../img/tablet/back.png) no-repeat;
    background-size: cover;    
    overflow: hidden;
}
.container .camera-plug
{
    width:194px;
    height:25px;
    position: absolute;
    top:2px;
    right:0;
    background:url(../img/tablet/camera-block.png) no-repeat;
    background-size: cover;
    background-position-x:1px;
	border-top-right-radius:20px;
	z-index: 9999999;
}
.container .main-wrapper
{
    background:url(../img/tablet/wallpaper/wallpaper1.png) no-repeat;
    background-size: cover;
}
.main-wrapper, .settings-wrapper, .news-wrapper, .fancybox-container, .goverment-wrapper, .cars-wrapper
{    	
    position: absolute;
    width:99%;
    height:98.5%;
	border-radius: 10px;
	top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.operator
{
	position:absolute;
    top: 9px;
    left: 30px;
	color:#fafafa;
	font-size:11.12px;
	text-transform: uppercase;
}
.network
{
	width:14px;
	height:14px;
	background:url(../img/phone/network.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:5px;
	right:28%;
}
.wi-fi
{
	width:17px;
	height:13px;
	background:url(../img/phone/wi-fi.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:6px;
	right:25%;
}
.battery
{
	width:29px;
	height:10px;
	background:url(../img/phone/battery.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:9px;
	right:21%;
}
.time-block
{
	position:absolute;
	top:20%;
    left:50%;    
    transform:translate(-50%,0);
    text-shadow: 1px 1px 5px #000;
}
.time-block .time
{
	font-size:67px;
	color:#fafafa;
	position:relative;
    left:1px;
    width:175px;    
}
.time .del, .time .hours, .time .minutes
{
	position:absolute;
	top:0;
}
.time .hours
{
	left:0;
}
.time .del
{
	left:44%;
}
.time .minutes
{
	right:0;
}
.time-block .date
{
	font-size:18px;
	color:#fafafa;
}
.date
{
	padding-top:70px;
}
.main-wrapper .settings
{
	position:absolute;
	left:3%;
	bottom:3%;
	width:55px;
	height:55px;
	background:url(../img/phone/settings.png) no-repeat;
	background-size:cover;
}
.main-wrapper .adsbuy
{
	position:absolute;
	left:10%;
	bottom:12%;
	width:55px;
	height:55px;
	background:url(../img/tablet/adsbuy.png) no-repeat;
	background-size:cover;
}
.main-wrapper .adsbuy::after
{
    content:'Куплю';
    position: absolute;
    bottom:-20px;
    left:8px;
	text-align: center;
    font-size:11.43px;
    text-shadow:0 0 5px #000;
	color:#fff;
}
.currentads-wrapper
{
	display: flex;
}
#parallelogram {
	width: 12px;
	height: 20px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #00b9d0;
	margin-right:9px;
}
#parallelogram2 {
	width: 120px;
	height: 20px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #00b9d0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#parallelogram2 .para-text
{	
	font-size:13.6px;
	color:#fff;
	-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
			-o-transform: skew(20deg);
}
.main-wrapper .adssell
{
	position:absolute;
	left:18%;
	bottom:12%;
	width:55px;
	height:55px;
	background:url(../img/tablet/adssell.png) no-repeat;
	background-size:cover;
}
.main-wrapper .adssell::after
{
    content:'Продам';
    position: absolute;
    bottom:-20px;
	left:5px;
	text-align: center;
    font-size:11.43px;
    text-shadow:0 0 5px #000;
    color:#fff;
}
.main-wrapper .adsgetworkers
{
	position:absolute;
	left:26%;
	bottom:12%;
	width:55px;
	height:55px;
	background:url(../img/tablet/adsgetworkers.png) no-repeat;
	background-size:cover;
}
.main-wrapper .adsgetworkers::after
{
    content:'Приму на работу';
    position: absolute;
    bottom:-30px;
	left:0px;
	text-align: center;
    font-size:11.43px;
    text-shadow:0 0 5px #000;
    color:#fff;
}
.main-wrapper .adssearchwork
{
	position:absolute;
	left:34%;
	bottom:12%;
	width:55px;
	height:55px;
	background:url(../img/tablet/adssearchwork.png) no-repeat;
	background-size:cover;
}
.main-wrapper .adssearchwork::after
{
    content:'Ищу работу';
    position: absolute;
    bottom:-30px;
	left:0px;
	text-align: center;
	font-size:11.43px;
    text-shadow:0 0 5px #000;
    color:#fff;
}
.main-wrapper .settings, .main-wrapper .goverment, .main-wrapper .news, .main-wrapper .cars, .main-wrapper .adssell, .main-wrapper .adsbuy, .main-wrapper .adsgetworkers, .main-wrapper .adssearchwork
{
    cursor: pointer;
}
.settings-wrapper .apply-but
{
	position:absolute;
	bottom:1%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#000;
	background:#fafafa;
	width:136px;
	height:40px;
	border-radius: 15px;	
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size:13px;
    cursor:pointer;
}
.settings-wrapper .fa-chevron-left:hover, .settings-wrapper .fa-chevron-right:hover, .back-but:hover
{
    opacity:0.8;
}
.settings-wrapper, .news-wrapper, .goverment-wrapper, .cars-wrapper
{
	display:none;
}
.settings-wrapper i
{
	cursor: pointer;
	color:rgba(255,255,255,0.7);
	border:2px solid rgba(255,255,255,0.7);
	border-radius: 50%;
	width:32px;
	height:32px;
	display:flex;
	justify-content:center;
	align-items: center;
	box-sizing: border-box;
    font-size:19px;
}
.settings-wrapper .fa-chevron-left
{
	position:absolute;	
	padding-right:3px;
	top:45%;
	left:25px;
}
.settings-wrapper .fa-chevron-right
{
	position:absolute;	
	padding-left:3px;
	top:45%;
	right:25px;
}
.background
{
	display:none;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
    background-size:cover;
}
.background.active
{
	display:block;
}
.settings-wrapper, .news-wrapper, .goverment-wrapper
{
	margin:auto;	
	background-repeat:no-repeat;
	background-size:cover;
	box-sizing: border-box;
}
.news-wrapper, .goverment-wrapper, .cars-wrapper 
{
	background:#efefef;
	overflow: hidden;
}
.back-but
{
    display:none;
    border-radius: 20px;
    border:3px solid #fff;
    color:#fff;
    position: absolute;
    top:3%;
    left:3%;
    text-align: center;
    padding:3px 12px;
    cursor: pointer;
    font-size:13px;
}
.main-wrapper .news
{
	position:absolute;
	right:3%;
	bottom:50%;
	width:55px;
	height:55px;
	background:url(../img/tablet/news.png) no-repeat;
	background-size:contain;
}
.main-wrapper .news::after
{
    content:'Новости';
    position: absolute;
    bottom:-20px;
    left:5px;
    font-size:11.43px;
    text-shadow:0 0 5px #000;
    color:#fff;
}
.main-wrapper .goverment
{
	position:absolute;
	right:3%;
	bottom:32%;
	width:55px;
	height:55px;
	background:url(../img/tablet/goverment.png) no-repeat;
	background-size:contain;
}
.main-wrapper .goverment::after
{
    content:'Правительство';
    position: absolute;
    bottom:-20px;
    left:-14px;
    font-size:11.43px;
    text-shadow:0 0 5px #000;
    color:#fff;
}
.main-wrapper .cars
{
	position:absolute;
	right:3%;
	bottom:14%;
	width:55px;
	height:55px;
	background:url(../img/tablet/auto.png) no-repeat;
	background-size:contain;
}
.main-wrapper .cars::after
{
    content:'Автомагазин';
    position: absolute;
    bottom:-20px;
    left:-6.5px;
    font-size:11.43px;
    text-shadow:0 0 5px #000;
    color:#fff;
}
.newswrap
{
	z-index: 1;
}
.newswrap .section
{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	width:100%;
	max-height:90%;
	position: absolute;
    top: 55%;
	left: 50%;
	transform: translate(-50%,-45.5%);
}
.newswrap .section.inactive
{
	visibility: hidden;
}
.newswrap .section.active
{
	display: flex;
	z-index: 999;
	visibility: visible; 
}
.newswrap .section .news-item
{
	width:409px;
	height:400px;
	background:#ffffff;
	border-top:7px solid rgba(23,176,239,0.95);
	margin:5% 0;
	padding:0 20px 20px 20px;
	position: relative;
	overflow: hidden;
}
.newswrap .section .news-item .news-title
{
	font-size:22px;
	font-weight: 500;
	margin:10px 0 20px 0;
}
.newswrap .section .news-item:first-child
{
	margin-top:15px;
}
.news-wrapper .title
{
	width:215px;
	height:55px;
	background:url(../img/tablet/news-title.png) no-repeat;
	background-size:contain;
	background-position: center;
	margin:20px auto 0 auto;
	z-index: 999999;
    position: absolute;
    top: 10px;
	left: 50%;
	transform: translate(-50%,0);
}
.newswrap .section .news-text
{
	font-size:20.05px;
	height: 112px;
	overflow: hidden;
}
/* #fp-nav span
{
	background:#00aeef!important;
} */
.news-item .video-block
{		
	position: absolute;
	margin:0 auto;
	margin-top:20px;
	width: 80%;
    height: 46%;
	font-size: 11px;
	left:50%;
	transform:translate(-50%,0);
    bottom: 5%;
	background:#000000;
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size:12.89px;
	color:#fff;
	text-decoration: none;
	outline:none;
	overflow: hidden;
}
.news-item .video-block i
{
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:19px;
	color:#fff;
	background:rgb(30, 30, 30);
	text-align: center;
	padding:10px 18px 10px 22px;
	border-radius:8px;
}
.news-item .video-block:hover img
{
	transform: scale(1.1); 
}
.news-item .video-block:hover i
{
	background:red;
}
.news-item #more
{
	color:#00aeef;
	text-align: center;
}
.fancybox-toolbar
{
	right:46%;
}
.fancybox-slide
{
	padding:0;
}
.ytp-fullscreen-button
{
	display:none!important;
}
.ytp-watch-later-button{
    display : none !important;
}
.ytp-watermark{
    display : none !important;
}
.goverment-wrapper .menu-wrapper .title
{
	width:425px;
	height:70px;
	background:url(../img/tablet/goverment-title.png) no-repeat;
	background-size:contain;
	background-position: center;
	margin:20px auto 0 auto;
	z-index: 99;
    position: absolute;
    top: 45px;
	left: 50%;
	transform: translate(-50%,0);
}
.goverment-wrapper .menu-wrapper
{
	margin-top: -2px;
	position: relative;
	width:100%;
	height:200px;
	border-bottom:6px solid #ed1c24;
	background:url(../img/tablet/goverment-back.png) no-repeat;
	background-position: center;
	background-size:cover;
}
.goverment-wrapper .menu-wrapper .menu 
{
	position: absolute;
	top:0;
	left:15%;
	color:#fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.goverment-wrapper .menu .link
{
	width:auto;
	height:54px;	
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 5px;
	padding:0 15px;
	box-sizing: content-box;
	cursor: pointer;
	font-size:16px;
	transition:0.3s;
}
.goverment-wrapper .menu .link:hover, .goverment-wrapper .menu .link.active
{
	background: rgba(0,0,0,0.17);
}
.goverment-wrapper .inner-wrapper
{
	width:100%;
	padding:15px 0 30px 0;
}
.goverment-wrapper .law-wrap .but-block
{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	-webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
.goverment-wrapper .law-wrap .but-block::after
{
	content:'';
	position: absolute;
	bottom:-15px;
	left:50%;
	transform: translate(-50%,0);
	border-bottom:3px solid #acacac;
	border-radius: 10px;
	width:70%;
}
.goverment-wrapper .law-wrap
{
	display: none;
	justify-content: space-between;	
	padding:15px 3px 0 8px;
}
.goverment-wrapper .law-wrap.active
{
	display: flex;
}
.goverment-wrapper .law-wrap .left-wrap
{	
	width:30%;	
	padding-right: 8px;
}
.goverment-wrapper .law-wrap .button
{
	width:216px;
	height:42px;
	font-size:14px;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#ed1c24;
	margin-bottom:10px;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.goverment-wrapper .law-wrap .right-wrap
{	
	width:100%;		
	min-height:335px;
	max-height: 335px;
	overflow-y: scroll;
	position: relative;
}
.goverment-wrapper .law-wrap .text-block
{
	display: none;
	width:99%;
	font-size:20px;
	color:#484c52;
	background-color:#fff;
	padding:25px;
}
.goverment-wrapper .law-wrap .text-block.active
{
	display:block;
}
.goverment-wrapper .ads-wrap::-webkit-scrollbar, .goverment-wrapper .right-wrap::-webkit-scrollbar, .goverment-wrapper .order-wrap::-webkit-scrollbar{
    width: 8px;
}
.goverment-wrapper .order-wrap .clients-block .clients-list::-webkit-scrollbar{
    width: 4px;
}
.goverment-wrapper .ads-wrap::-webkit-scrollbar-track, .goverment-wrapper .right-wrap::-webkit-scrollbar-track, .goverment-wrapper .order-wrap::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 4px;  
} 
.goverment-wrapper .order-wrap .clients-block .clients-list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;  
} 
.goverment-wrapper .ads-wrap::-webkit-scrollbar-thumb, .goverment-wrapper .right-wrap::-webkit-scrollbar-thumb, .goverment-wrapper .order-wrap::-webkit-scrollbar-thumb, .goverment-wrapper .order-wrap .clients-block .clients-list::-webkit-scrollbar-thumb {
    background: #ed1c24;
    border-radius: 4px;  
}
.goverment-wrapper .order-wrap
{
	display:none;
	overflow-y:scroll;
	min-height: 335px;
    max-height: 335px;
}
.goverment-wrapper .order-wrap.active, .goverment-wrapper .ads-wrap.active
{
	display:flex;
}
.goverment-wrapper .order-wrap .current-wrap
{
	width:100%;
	height:100%;
	padding:0 15px;	
}
.goverment-wrapper .order-wrap .current-wrap .close-but
{
	position: absolute;
	top:-30px;
	font-size:13px;
	right:0px;
	cursor: pointer;
	color:#fff;
	background:#ed1c24;
	padding:5px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.goverment-wrapper .order-wrap .point-item-wrap
{
	width:100%;
	height:136px;
	border-top:7px solid #ed1c24;
	background:#fff;
	display: flex;
	flex-direction: column;	
	position: relative;
}
.goverment-wrapper .order-wrap .clients-block
{
	z-index: 999;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding:10px 7px 10px 12px;
}
.goverment-wrapper .order-wrap .clients-block .button, .goverment-wrapper .ads-wrap .ads-but, .goverment-wrapper .ads-wrap .add-ads
{
	position: relative;
	padding:9px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#ed1c24;
	color:#fff;
	font-size:12px;
	font-weight:500;
	margin:0 5px;
	cursor: pointer;
	border-radius:2px;
}
.goverment-wrapper .order-wrap .clients-block .clients-list
{
	padding-top:5px;
	min-height:200px;
	max-height:250px;
	position: absolute;
	top:11px;
	right:40%;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	overflow-y:scroll;
	display: none;
}
.goverment-wrapper .order-wrap .clients-block .clients-list .client-item
{
	background:#dfdfdf;
	width:100%;
	padding:7px 35px;
	font-size:13px;
	font-weight:500;
	margin-bottom:5px;
}

.goverment-wrapper .order-wrap .inform-block
{
	margin-top:-45px;
	height:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.goverment-wrapper .order-wrap .current-wrap .date
{
	position: absolute;
	bottom:8px;
	right:12px;
	font-size:14px;
	font-weight: 500;
	color:#7f7f7f;
}
.goverment-wrapper .order-wrap .inform-block .timer-wrap
{
	position: relative;
	margin-left:50px;
}
.goverment-wrapper .order-wrap .inform-block .timer-wrap:before
{
	position: absolute;
	content:'';
	left:-35px;
	top:50%;
	width:46px;
	height:46px;
	transform:translate(-50%,-50%);
	background:url(../img/tablet/timer.png) no-repeat;
	background-position: center;
	background-size:cover;
}
.goverment-wrapper .order-wrap .inform-block .pay-price
{
	color:#ed1c24;
	font-size:18px;
}
.goverment-wrapper .order-wrap .inform-block .timer-counter
{
	display: flex;
}
.goverment-wrapper .order-wrap .inform-block .timer-counter, .goverment-wrapper .order-wrap .inform-block .pay-price span
{
	font-size:25px;
	font-weight:500;
	color:#ed1c24;
}
.goverment-wrapper .order-wrap .inform-block .timer-text, .goverment-wrapper .order-wrap .inform-block .pay-text
{
	font-size:12px;
	font-weight: 500;
}
.goverment-wrapper .order-wrap .inform-block .title-block
{
	font-size:16px;
	font-weight: 500;
	max-width:50%;
}
.goverment-wrapper .order-wrap .add-point
{
	border:3px dashed #fff; 
	background-color:#d7d7d7;
	width:50px;
	margin:15px auto;
	height:50px;
	position: relative;
	transition:0.3s;
	cursor: pointer;
}
.goverment-wrapper .order-wrap .add-point:hover .point-text
{
	display: flex;
}
.goverment-wrapper .order-wrap .add-point:hover
{
	width:25%;
}
.goverment-wrapper .order-wrap .add-point:hover .add-button
{
	left:15%;
}
.goverment-wrapper .order-wrap .add-point .add-button
{
	width:35px;
	height:35px;
	border-radius: 50%;
	background-color:#fff;
	color:#d7d7d7;
	font-weight: 500;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);	
}
.goverment-wrapper .order-wrap .add-point .add-button span
{
	position: absolute;
	top:38%;
	left:50%;
	transform: translate(-50%,-50%);	
	font-size:50px;
}
.goverment-wrapper .order-wrap .add-point .point-text
{
	display:none;
	justify-content: flex-end;
	align-items: center;
	height:100%;
	font-size:20px;
	color:#fff;
	padding-right: 10px;
	animation:0.5s vision ease-in-out;
}
.goverment-wrapper .order-wrap .newpoint-block
{
	width:100%;
	height:139px;
	border-top:7px solid #ed1c24;
	background:#fff;
	display: none;
	justify-content: space-around;
	align-items: center;	
	position: relative;
	padding:25px 40px;
	margin-bottom: 40px;
}
.goverment-wrapper .order-wrap .newpoint-block .time-inputs
{
	margin-top:10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width:136px;
}
.goverment-wrapper .order-wrap .newpoint-block .time-inputs input
{
	border:none;
	width:35px;
	font-size:11px;
	font-weight: 500;
}
.goverment-wrapper .order-wrap .newpoint-block .time-inputs input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size:11px;
	font-weight: 500;
}
.goverment-wrapper .order-wrap .time-inputs .red-circles
{
	color: #ed1c24;
	font-size:11px;
	margin-right:7px;
}
.goverment-wrapper .order-wrap .newpoint-block .time-title
{
	font-size:14px;
	font-weight: 500;
	color: #ed1c24;
}
.goverment-wrapper .order-wrap .textarea-block #point-textarea
{
	width:468px;
	height:73px;
	resize:none;
	border:1px solid #000;
	font-weight: 500;
	padding:5px;
}
.goverment-wrapper .order-wrap .newpoint-block .point-button
{
	position: absolute;
	bottom:-20px;
	right:25px;
	width:166px;
	height:45px;
	background: #ed1c24;
	color:#fff;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:13px;
	font-weight: 500;
	cursor: pointer;
}
.goverment-wrapper .order-wrap .newpoint-block .pay-block input
{
	width:77px;
	height:20px;
	border:none;
	border-bottom:1px solid #ed1c24;
	font-size:20px;
	font-weight: 500;
	text-align: center;
}
.goverment-wrapper .order-wrap .newpoint-block .pay-block input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size:20px;
	font-weight: 500;
	text-align: center;
}
.goverment-wrapper .ads-wrap
{
	padding:0 15px;
	display:none;
	overflow-x: hidden;
	overflow-y:scroll;
	min-height: 350px;
	max-height: 350px;
	position: relative;
}
.goverment-wrapper .ads-wrap .ads-add-block, .goverment-wrapper .ads-wrap .ads-item
{
	width:296px;
	height:350px;
	background:#fff;
	border-radius: 5px;
	position: relative;
}
.goverment-wrapper .ads-wrap .ads-item .ads-date
{
	width:fit-content;
	font-size:11px;
	color:#6c6c6c;
	font-weight: 500;
	margin-left:auto;
}
.goverment-wrapper .ads-wrap .ads-item .pre-title
{
	font-size:13px;
	font-weight: 500;
}
.goverment-wrapper .ads-wrap .ads-item .title
{
	font-size:22px;
	font-weight: 500;
	margin-top:8px;
}
.goverment-wrapper .ads-wrap .ads-item .text
{
	font-size:15px;
	margin-top:12px;
	max-height: 225px;
	overflow: hidden;
}
.goverment-wrapper .ads-wrap .ads-item .delete-but
{
	width:23px;
	height:23px;
	background:#959595 url('../img/tablet/cross.png') no-repeat;
	background-position: center;
	background-size:65%;
	border-radius:2px;
	position: absolute;
	bottom:8px;
	cursor: pointer;
}
.goverment-wrapper .ads-wrap .ads-item .like-wrap
{
	position: absolute;
	right:10px;
	bottom:10px;
	display: flex;
	align-items: flex-end;
}
.goverment-wrapper .ads-wrap .ads-item .like-wrap .like-val
{
	margin:0 0 -2px 4px;
	font-size:18px;
	font-weight: 500;
	color:#1f1f1f;
}
.goverment-wrapper .ads-wrap .ads-item .like-wrap .like-but
{
	width:20px;
	height:20px;
	display: inline-block;
	background:url('../img/tablet/like.svg') no-repeat; 
	background-position: center;
	cursor: pointer;
}
.goverment-wrapper .ads-wrap .ads-item .like-but:hover,
.goverment-wrapper .ads-wrap .ads-item .like-but:focus {
	filter: invert(12%) sepia(96%) saturate(5836%) hue-rotate(353deg) brightness(100%) contrast(86%);
}
.goverment-wrapper .ads-wrap .ads-item .delete-but:hover
{
	background-color: #ed1c24;
}
.goverment-wrapper .ads-wrap .list-wrap
{
	display: flex;
	flex-wrap:wrap;
	width:100%;
	padding-bottom:20px;
	margin-top:-20px;
	transition: width 0.3s;
}
.goverment-wrapper .ads-wrap .ads-item
{
	margin:20px 10px 0 10px;
	padding:10px;
}
.goverment-wrapper .ads-wrap .ads-add-block
{
	display: none;
	flex-direction: column;
	padding:20px 10px;
	position: sticky;
	right:12px;
	top:0;
}
.goverment-wrapper .ads-wrap .ads-add-block input
{
	border:none;
	border-bottom:1px solid #000;	
	padding:0 0 0 1px;
}
.goverment-wrapper .ads-wrap .ads-add-block input#ads-pretitle
{
	font-size:13px;
	max-width:95px;
	margin-bottom:5px;
}
.goverment-wrapper .ads-wrap .ads-add-block input#ads-title
{
	font-size:22px;
	max-width:110px;
	margin-bottom:15px;
}
.goverment-wrapper .ads-wrap .ads-add-block input::-webkit-input-placeholder, .goverment-wrapper .ads-wrap .ads-add-block textarea::-webkit-input-placeholder {
	color:#000;
}
.goverment-wrapper .ads-wrap .ads-add-block textarea
{
	border:1px solid #000;
	resize:none;
	padding:5px;
	margin-bottom:15px;
	height:200px;
}
.goverment-wrapper .ads-wrap .ads-but
{
	width:125px;
	height:38px;
	margin-left:auto;
}
.goverment-wrapper .ads-wrap .add-ads
{
	position: fixed;
	bottom:0;
	left:48.5%;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	transform: translate(-50%,0);	
	background:rgba(237,28,36,0.9);
	font-size:12px;
	z-index: 999;
}
.goverment-wrapper .ads-wrap .ads-add-block .close-but
{
	position: absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#ed1c24 url('../img/tablet/cross.png') no-repeat;
	background-position: center;
	color:#fff;
	font-size:12px;
	font-weight:500;
	cursor: pointer;
	border-radius:2px;
}
.goverment-wrapper .ads-wrap .delete-wrapper
{
	display: none;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:188px;
	background:#ed1c24;
	color:#fff;
	font-size:14px;
	padding:5px 10px 7px 10px;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
.goverment-wrapper .ads-wrap .delete-wrapper .delete-accept-wrapper
{
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top:5px;
}
.goverment-wrapper .ads-wrap .delete-wrapper .delete-accept-wrapper .delete-accept
{
	padding:2px 5px;
	background:#fff;
	color:#1f1f1f;
	border-radius: 2px;
	cursor: pointer;
}
@keyframes vision
{
	from
	{
		opacity:0;
	}
	to
	{
		opacity:1;
	}
}

/*cars*/
.cars-wrapper .menu-wrapper
{
	margin-top:-1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	position: relative;
	width:100%;
	height:200px;
	background:url(../img/tablet/cars-back.png) no-repeat;
	background-position: center;
	background-size:cover;
	z-index:99;
}
.cars-wrapper .menu-wrapper .menu 
{
	position: absolute;
	top:0;
	left:15%;
	color:#fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.cars-wrapper .menu .link
{
	width:auto;	
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 5px;
	padding:16px 23px;
	box-sizing: content-box;
	cursor: pointer;
	font-size:15px;
	transition:0.3s;
}
.cars-wrapper .sort-block
{
	position: absolute;
	bottom:20px;
	right:20px;
}
.cars-wrapper .forward
{
	display: none;
	position: absolute;
	bottom:10px;
	left:50%;
	transform: translate(-50%,0);
	color:#fff;
	background: rgba(251,229,2,0.8);
	padding:10px;
	border-radius: 5px;
	cursor: pointer;
	font-size:14px;
}
.cars-wrapper .sort-block #cars-sort
{
	width:177px;
	height:38px;
	background:#d1d1d1;	
	padding:10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius:5px;
	font-size:14px;
	cursor: pointer;
}
.cars-wrapper #cars-sort i
{
	transition:0.3s;
}
.cars-wrapper .sort-block .sort-window
{
	border-top:2px solid #5a5959;
	background:#d1d1d1;	
	padding:5px 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	width:100%;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	font-size:14px;	
	display:none;
}
.cars-wrapper .sort-block .sort-window > div
{
	padding:7px 5px;
	cursor: pointer;
	width:100%;
}
.cars-wrapper .sort-block .sort-window > div:hover
{
	background:#ebe9e9;
}
.cars-wrapper .sort-block .sort-window > div.mixitup-control-active:hover
{
	opacity:0.2;
}
.cars-wrapper .sort-block select option
{ 
	width:100%;
}
.cars-wrapper .menu .link:hover, .cars-wrapper .menu .link.active
{
	background: rgba(251,229,2,0.8);
}
.cars-wrapper .inner-wrapper
{
	padding:10px 5px;
	background:#ebe9e9;
	max-height:376px;	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position: relative;
	width:100%;
	height:100%!important;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow-y: scroll;
}
.cars-wrapper .inner-wrapper .car-block
{
	width:231px;
	height:219px;
	border-radius:5px;
	margin:10px 5px 0 5px;
}
.mix
{
	padding:20px;
	background:#000;
	color:#fff;
	font-size:25px;
}
.cars-wrapper .car-block .car-image
{
	width:100%;
	height: 122px;	
	overflow: hidden;
}
.cars-wrapper .car-block .car-image img
{
	width:100%;
	height:100%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor: pointer;
}
.cars-wrapper .car-block .car-image img:hover
{
	transform: scale(1.05);
}
.cars-wrapper .car-block .title-block
{
	background:#fbe502;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	font-size:17px;
	min-height: 29px;
	text-transform: capitalize;
}
.cars-wrapper .car-block .title-block .car-price
{
	background:rgba(0,0,0,0.15);
	border-radius: 3px;
	padding:1px 4px;
}
.cars-wrapper .car-block .car-info
{
	background:#dbc800;
	padding:8px 12px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width:100%;
}
.cars-wrapper .car-block .car-info .speed-title
{
	font-size:13px;
	padding-bottom:5px;
	padding-right:7px;
	margin-left:auto;
	width:fit-content;
}
.cars-wrapper .car-block .car-info .speed-wrap
{
	width:100%;
	background:#383838;
	height:7px;
	border-radius: 3px;
	box-shadow: 0 0 2px #000;
	margin-bottom:10px;
	position: relative;
}
.cars-wrapper .car-block .car-info .speed-wrap .line-inner
{
	position: absolute;
	top:-1px;
	left:-1px;
	width:60%;
	background:#fbe502;
	box-shadow: 0 0 2px #fbe502;
	height:9px;
	border-radius: 3px;
}
.cars-wrapper .car-block .car-info .car-weight
{
	font-size:13px;
	text-align: center;
}
.cars-wrapper .inner-wrapper::-webkit-scrollbar, .cars-wrapper .current-car-wrapper::-webkit-scrollbar{
    width: 8px;
}
.cars-wrapper .inner-wrapper::-webkit-scrollbar-track, .cars-wrapper .current-car-wrapper::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;  
} 
.cars-wrapper .inner-wrapper::-webkit-scrollbar-thumb, .cars-wrapper .current-car-wrapper::-webkit-scrollbar-thumb {
    background: #fbe502;
    border-radius: 10px;  
}
.cars-wrapper .current-car-wrapper
{
	display:none;
	width:100%;
	padding:30px;
	background:#ebe9e9;
	max-height:376px;	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position: relative;
	overflow-y: scroll;
}
.disabled, .mixitup-control-active
{
	opacity:0.2;
}
.cars-wrapper .current-car-wrapper .block-wrapper
{
	background:#d1d1d1;
	padding:10px 0 20px 20px;
	display: flex;
	justify-content: space-between;
}
.cars-wrapper .current-car-wrapper .title-name
{
	font-family:"Tahu!";
	font-size:44px;
	margin-bottom:5px;
	text-transform: capitalize;
}
.cars-wrapper .current-car-wrapper .title-text
{
	font-size:19px;
	line-height: 25px;
	margin-bottom:15px;
	max-width: 375px;
}
.cars-wrapper .current-car-wrapper .color-title
{
	font-size:14px;
	margin-bottom:2px;
}
.cars-wrapper .current-car-wrapper .left-wrap
{
	width:45%;
	height:100%;
}
.cars-wrapper .current-car-wrapper .right-wrap
{
	width:55%;
	height:100%;
	position: relative;
}
.cars-wrapper .current-car-wrapper .right-wrap .img-block
{
	position: relative;
	width:490px;
	height:310px;
}
.cars-wrapper .current-car-wrapper .right-wrap .img-block img
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 9999;
	width:431px;
	height:245px;
}
.cars-wrapper .current-car-wrapper .right-wrap .img-block:after
{
	position: absolute;
	top:50%;
	left:47%;
	transform: translate(-50%,-50%);
	content:'';
	width:489px;
	height:311px;
	background:url(../img/tablet/cars/car-back.png) no-repeat;
	background-size:contain;
	z-index:1;
}
.cars-wrapper .right-wrap .char-block 
{
	margin-top:5px;
	position: relative;
	padding-right:20px;
	display: flex;
	flex-direction:column;
	align-items: flex-end;
}
.cars-wrapper .right-wrap .char-block .speed-title, .cars-wrapper .right-wrap .char-block .move-title
{
	width:100%;
	font-size:18px;
	padding-bottom:5px;
	padding-right:7px;
	margin-left:auto;
	width:fit-content;
}
.cars-wrapper .right-wrap .char-block .speed-wrap, .cars-wrapper .right-wrap .char-block .move-wrap
{
	width:270px;	
	max-width:270px;
	background:#383838;
	height:12px;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	margin-bottom:10px;
	position: relative;
}
.cars-wrapper .right-wrap .char-block .speed-wrap .line-inner, .cars-wrapper .right-wrap .char-block .move-wrap .line-inner
{
	position: absolute;
	top:-1px;
	left:-1px;
	width:0%;
	background:#fbe502;
	box-shadow: 0 0 4px #fbe502;
	height:14px;
	border-radius: 5px;
	-webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}
.cars-wrapper .right-wrap .sit-places, .cars-wrapper .right-wrap .class-places, .cars-wrapper .right-wrap .luggage-places
{
	min-width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:5px 0;
	font-size:17px;
}
.cars-wrapper .right-wrap .class-places .class-item
{
	text-transform: capitalize;
}
.cars-wrapper .right-wrap .sit-places
{
	margin-top:40px;
}
.cars-wrapper .left-wrap .buy-button
{
	width:168px;
	height:44px;
	background:#fbe502;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;	
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.cars-wrapper .left-wrap .buy-button span.price
{
	font-size: 22px;
}
.cars-wrapper .left-wrap .buy-button span:last-child
{
	margin-top:3.5px;
}
.cars-wrapper .left-wrap .buy-button:hover
{
	transform: scale(1.05);
}
.cars-wrapper .left-wrap .buy-wrap
{
	margin-top:20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.cars-wrapper .left-wrap div.card, .cars-wrapper .left-wrap div.cash
{
	width:41px;
	height:47px;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding:3px 0;	
	border-radius:5px;
	background: #484c52;
	cursor: pointer;
}
.cars-wrapper .left-wrap .radio-block
{
	display:flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width:90px;
	box-sizing: border-box;
	margin-left:20px;
}
.cars-wrapper .left-wrap .radio-block i
{
	margin-top:6px;
	color:#fafafa;
	font-size:11px;
}
.cars-wrapper .left-wrap .color-wrap
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top:5px;
}
.cars-wrapper .left-wrap .color-wrap .color-item
{
	cursor: pointer;
	width:26px;
	height:26px;
	border:1px solid #383838;
	border-radius: 50%;
	margin-right:16px;
	position: relative;
}
.cars-wrapper .left-wrap .color-wrap .color-item.active:after
{
	content:'';
	position: absolute;
	top: -1px;
    left: -1px;
	width:20px;
	height:20px;
	border-radius: 50%;
	border:3px solid #383838;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}