*
{
	font-family: 'HelveticaNeueCyr';
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container
{
	position:fixed;
	top:50%;
	transform: translate(0%,-50%);
	left:10px;
}
.disabled
{
	opacity:0.7;
}
.toogle
{
	width:311px;
	height:38px;
	border-radius:12px;
	background:#36393f;
	position: relative;
}
.toogle i
{
	color:#fafafa;
	font-size:28px;
	cursor: pointer;
}
.toogle i:hover
{
	font-size:30px;
}
.toogle i.fa-chevron-left
{
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
	left:10%;
}
.toogle i.fa-chevron-right
{
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);
	right:2%;
}
.toogle .body-list
{
	height: 100%;
}
.toogle .name
{
	width:100%;
	height:100%;
	color:#fafafa;
	font-size:18px;
	display:none;
	justify-content: center;
	align-items: center;	
}
.toogle .name.active
{
	display: flex;
}
.main-block
{
	margin-top:12px;
	width:311px;
	height:460px;
	border-radius:5px;
	box-sizing: border-box;
	background: #36393f;
}
.main-block .wrapper
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background:url(../img/tattoo-back.png) no-repeat;
	background-size:cover;
	width:100%;
	height: 100%;
	max-height: 344px;
	padding:13px 2px 0 2px;
	box-sizing: border-box;
	overflow:auto;
    border:2px solid #000;
    border-right:none;
    border-bottom: none;

}
.wrapper .tattoo-item
{
    width: 100%;
	height:35px;
	border-radius: 13px;
	background: #484c52;
	margin-bottom:10px;
	display:flex;
	justify-content: space-between;
	align-items: center; 
	padding:0 10px 0 15px;
	box-sizing: border-box;
	cursor:pointer;
	position: relative;
	transition:0.7s;
}
.main-block .wrapper::-webkit-scrollbar{
    width: 10px;
}
.main-block .wrapper::-webkit-scrollbar-track {
    background: #2f3136;
    border-radius: 4px;  
} 
.main-block .wrapper::-webkit-scrollbar-thumb {
    background: #fbe401;
    border-radius: 4px;
    border:2px solid #000;    
}
.tattoo-item .name, .tattoo-item .price
{
	font-size:15px;
	color:#dadbdc;
}
.wrapper .tattoo-item i
{
	display:none;
	font-size:20px;
	color:#dadbdc;
}
.wrapper .tattoo-item.active
{
	opacity:0.85;
	transition:0.7s;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	box-sizing: border-box;
}
.buy-buttons
{
	background: #36393f;
	width:100%;
	height: 114px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.buy-buttons .left-wrap
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 75%;
}
.buy-buttons .btn
{
	width:104px;
	height: 33px;
	background: #484c52;
	border-radius: 5px;
	color:#fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:14px;
	cursor: pointer;
}
.buy-buttons .btn:hover, .rangeslider__handle:hover, .wrapper .tattoo-item:hover .name, .wrapper .tattoo-item:hover .price, .buy-buttons .button:hover, .rotate .button:hover, .buy-buttons .right-wrap .radio-block div:hover
{
	transform: scale(1.1);
}
.wrapper .tattoo-item:hover
{
	opacity:0.9;
}
.buy-buttons .button, .rotate .button
{
	width:104px;
	height: 33px;
	background: #fbe401;
	box-shadow: 0 0 10px #fbe401;
	color:#435462;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:15px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.rotate .button
{
	margin-top:-10px;	
}
.buy-buttons .right-wrap div.card, .buy-buttons .right-wrap div.cash
{
	width:42px;
	height:45px;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding:3px 0;	
	border-radius:5px;
	background: #484c52;
	cursor: pointer;
}
.buy-buttons .right-wrap
{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.buy-buttons .right-wrap .radio-block
{
	display:flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-bottom:10px;
	box-sizing: border-box;
}
.buy-buttons .right-wrap .radio-block i
{
	margin-top:6px;
	color:#fafafa;
	font-size:12px;
}
.information
{	
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #36393f;
	width:484px;
	height:150px;
	border-radius: 3px;
	color:#e4e5e5;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding:10px 50px;
	box-sizing: border-box;
}
.information .title,.text
{
	font-size:15px;
	text-align: center;
}
.information .end
{
	margin-top:20px;
	font-size:12px;
}
.information .button-block
{
	display: flex;
	justify-content: center;
	margin-top:10px;
}
.information .button-block .button
{
	width:152px;
	height: 36px;
	background: #4a4e54;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.information .button-block .button:first-child
{
	margin-right: 6px;
}
.information .button-block .button:last-child
{
	margin-left: 6px;
}
.rotate
{
	position:absolute;
	bottom:10px;
	right:10px;
	width:239px;
	height:155px;
	border-radius:10px;
	background:#36393f;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.rotate .height-block, .rotate .rotate-block
{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.rotate .title
{
	font-size:14px;
	color:#fafafa;
}
.slick::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
.slick::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

.slick::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #f4e331;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(244, 227, 49, 0.52);
    -webkit-appearance: none;
}
.slick::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}
.rangeslider
{
	width:80%!important;
	margin:10px auto;
}
.rangeslider__handle
{
	width:15px!important;
	height:15px!important;
	top:-2px!important;
}
@media(max-width:1920px) and (max-height:1080px), (max-width:1920px) and (max-height:1200px)
{
	.container
	{
		transform: scale(0.8) translate(0%,-60%);
	}
	.rotate
	{
		transform: scale(0.8);
	}
	.container
	{
    	left: -1%;
	}
	.rotate
	{
	    bottom: 0;
   		right: -0.5%;
	}
}
@media(max-width:1366px) and (max-height:768px), (max-width:1280px) and (max-height:768px), (max-width:1280px) and (max-height:720px)
{
	.container
	{
		transform: scale(0.7) translate(0%,-70%);
	}
	.rotate
	{
		transform: scale(0.7);
	}
	.container
	{
    	left: -2.5%;
	}
	.rotate
	{
	    bottom: -1%;
   		right: -1.5%;
	}
}
@media(max-width:1024px) and (max-height:768px), (max-width:800px) and (max-height:600px)
{
	.container
	{
		transform: scale(0.6) translate(0%,-80%);
	}
	.rotate
	{
		transform: scale(0.6);
	}
	.container
	{
    	left: -5%;
	}
	.rotate
	{
	    bottom: -2.5%;
   		right: -3.5%;
	}
}