<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="fonts/font.css">
        <link rel="stylesheet" href="css/newCircle.css">
	</head>
	<body>
        <div class="container" id="animCircle">
            <div class="wrapper">
                <div class="small-circle" id="animCircle">
                    <div class="inner">
                        <div v-for="(fastAnimLists, index) in fastAnimList" @click="circleAnim(fastAnimLists.id, index)" class="small-item" :id="fastAnimLists.title" :class="fastAnimLists.id != -1 ? 'active':'disabled'">
                            <div class="slot" :class="fastAnimLists.class" v-if="fastAnimLists.title === 'Отсутствует'">Отсутствует</div>
                            <div v-else class="slot" :class="fastAnimLists.class">{{ fastAnimLists.title }}</div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </body>
    <script src="js/jquery-3.3.1.min.js"></script> 
    <script src="js/vue.js"></script>
    <script src="js/vue-slide-up-down.umd.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/circletype.min.js"></script>
    <script src="js/newCircle.js"></script>
</html>