<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="css/roll.css">
        <link rel="stylesheet" href="fonts/font.css">
	</head>
	<body>
        <div id="animCircle">
            <div class="animation-circle-wrap">
                <div class="menu">
                    <div class="center">
                        <div class="imagesBlock">                           
                            <img src="images/hud/roll.png" alt="">
                        </div>
                    </div>
                    <ul>
                        <li v-for="(fastAnimLists, index) in fastAnimList" @click="circleAnim(fastAnimLists.id, index)">
                            <div class="slot" :class="fastAnimLists.class" v-if="fastAnimLists.title === 'Отсутствует'">Отсутствует</div>
                            <div v-else class="slot" :class="fastAnimLists.class">{{ fastAnimLists.title }}</div>
                        </li>
                    </ul>
                </div>          
            </div>
        </div>
    </body>
    <script src="js/jquery-3.3.1.min.js"></script> 
    <script src="js/vue.js"></script>
    <script src="js/vue-slide-up-down.umd.js"></script>
    <script src="js/menu.js"></script>
</html>