@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype')
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.otf');
	src: local('HelveticaNeueCyr-Roman'),
		url('../fonts/HelveticaNeueCyr-Roman.otf?#iefix') format('embedded-opentype')
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype')
	font-weight: 900;
	font-style: normal;
}
body
{
	padding:0;
	margin:0;
}
.container
{
	width:100vw;
	height:100vh;
	background:#000000;
	font-family: 'HelveticaNeueCyr';
	font-weight:500;
	font-size:1.5em;	
	color:#fff;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}